{{!-- used on reset password page --}}
<form id="resetPasswordForm" class="panel" method="POST"
	{{#if token}}{{!-- used to change password; to reset password using token it submits elsewhere--}}
		action=""
	{{else}}
		action="/account/password"
	{{/if}}
	> {{!-- #717 --}}
    <input type="hidden" name="_csrf" value={{_csrf}}>

	{{#if token}}
    	<input type="hidden" name="token" value="{{token}}" />
	{{/if}}

    <fieldset>
        <div class="form-input" id="f_password">
            <label for="passwordinput">Password</label>
            <input type="password" class="required" placeholder="Password"  name="password" id="passwordinput" tabindex="1">
            <span class="message"></span>
        </div>

        <div class="form-input" id="f_confirm">
            <label for="confirmpasswordinput">Confirm password</label>
            <input type="password" class="required" placeholder="Confirm password" name="confirm" id="confirmpasswordinput" tabindex="2">
            <span class="message"></span>
        </div>

        <div class="modal-error" id="unknown_error"><span></span></div>
    </fieldset>

    <button id="rest-btn" class="sign-btn svg" type="submit">
        <span>Change password</span>
        <svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
    </button>
</form>