<form id="resetPasswordForm" class="xhr panel" action="/account/profile" method="POST">{{!-- action is . --}}
    <input type="hidden" name="_csrf" value={{_csrf}}>

    <fieldset>{{#with profile}}
        <div class="form-input" id="f_current_password">
            <label for="currentpasswordinput">Current Password</label>
            <input type="password" class="required" placeholder="" name="current_password" id="currentpasswordinput" tabindex="1">
            <a href="#" class="forgotPassword needhelp">Forgot your password?</a>
            <span class="message"></span>
        </div>

        <div class="form-input" id="f_password">
            <label for="passwordinput">New password</label>
            <input type="password" class="required" placeholder="Password"  name="password" id="passwordinput" tabindex="1">
            <span class="message"></span>
        </div>

        {{!--
        <div class="form-input" id="f_confirm">
            <label for="confirmpasswordinput">Confirm password</label>
            <input type="password" class="required" placeholder="Confirm password" name="confirm" id="confirmpasswordinput" tabindex="2">
            <span class="message"></span>
        </div> --}}

        <meter id="passwordStrengthMeter" value="0" title="maximum strength"
               max="5" min="0" low="2" high="4" optimum="5"></meter>

        <div class="modal-error" id="unknown_error"><span></span></div>
    {{/with}}</fieldset>

    <button id="rest-btn" class="sign-btn svg" type="submit" data-svgref="#icon-go">
        <span>Change password</span>
    </button>
</form>