<div class="message clearfix">
	<div class="icon" style="background-color: {{color}}"></div>
	<p class="meta">
		<span class="username">{{from}}</span>
		<time>{{date}}</time>
	</p>
	<p>{{{message}}}</p>
</div>