<div class="message">
	<div class="table-row">
		<div class="table-cell icon-column">
			<div class="icon" style="background-color: {{color}}"></div>
		</div>
		<div class="table-cell">
			<div class="table-row">
				<div class="table-cell">
					<span class="username">{{from}}</span>
					<span class="date">{{date}}</span>
				</div>
			</div>
			<div class="table-row">
				<div class="table-cell text-cell">
					<span class="text">{{{message}}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

