<nav id='userpageNav' class='secondary sel_{navSelected}'>
    <li id='nProjectsLi'><a>Projects</a></li>
    <li id='nGraphs'><a>Graphs</a></li>
    <li id='nSharedGraphs'><a>Shared Graphs</a></li>
    <li id='nExamples'><a>Examples</a></li>
    {{!--
    <li id='nObjects'><a>Objects</a></li>
    <li id='nTextures'><a>Textures</a></li>
    <li id='nAudio'><a>Audio</a></li>
    --}}
    <li id='nSavedPatches'><a>Saved Patches</a></li>
    <li id='nMyAssets'><a>My Assets</a></li>
</nav>