<header data-uid="{{profile.id}}"
    {{#if profile.profile.header}}
        style="background-image:url('{{profile.profile.header}}')"
    {{/if}}><div class="header-overlay"></div>
    {{> srv/userpage/nav }}
</header>