<form action="/account/profile" id="accountDetailsForm" class="panel form-horizontal" method="POST">
    <input type="hidden" name="_csrf" value={{_csrf}}>
    <fieldset>

        <div class="form-input" id="f_name">
            <label for="name_id">Name</label>
            <input type="text" class="required" placeholder="Your name" name="name" id="name_id" value="{{user.name}}" tabindex="1">
            <span class="message"></span>
        </div>

        {{!--
        <div class="form-input" id="f_username">
            <label for="username_id">Username</label>
            <input type="text" class="required" placeholder="Username" name="username" value="{{user.username}}" id="username_id" >
            <span class="message"></span>
        </div>
        --}}

        <div class="form-input" id="f_email">
            <label for="email_id">Email</label>
            <input type="email" class="required" name="email" value="{{user.email}}" id="email_id" placeholder="Email" tabindex="2">
            <span class="message"></span>
        </div>

        <div class="modal-error" id="unknown_error"><span></span></div>
    </fieldset>

    <button id="update-profile-btn" class="sign-btn" type="submit">
        <span>Update Account</span>
        <svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
    </button>
</form>

<div class="modal-footer clearfix twocol">
	{{!-- <div class="col left"><a href="#/account/delete" id="delete_account">Delete account</a></div> #704 --}}
	<div class="col right pull"><a href="#/changepassword" id="changePasswordLink">Change password</a></div>
</div>