<h3>Account</h3>

<form action="/account/profile" id="account-modal-form" class="panel form-horizontal" method="POST">
    <input type="hidden" name="_csrf" value={{_csrf}}>

    <div class="form-input">
        <label for="name_id">Name</label>
        <input type="text" name="name" id="name_id" value="{{user.name}}" placeholder="" tabindex="-1">
    </div>

    <div class="modal-error" id="name-error">
        <span></span>
    </div>

    {{!-- {{

	<div class="form-input">
        <label for="username_id">Username</label>
        <input type="text" class="required" name="username" value="{{user.username}}" id="username_id" placeholder="">
    </div>

    <div class="modal-error" id="username-error">
        <span></span>
    </div>

    }} --}}
		<div class="form-input">
        <label for="email_id">Email</label>
        <input type="text" class="required" name="email" value="{{user.email}}" id="email_id" placeholder="">
    </div>

    <div class="modal-error" id="email-error">
        <span></span>
    </div>

    <button id="update-profile-btn" class="sign-btn" type="submit">
        <span>Update Account</span>
        <svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
    </button>
</form>

<div class="modal-footer clearfix twocol">
	{{!-- {{ <div class="col left"><a href="#/account/delete" id="delete_account">Delete account</a></div> }} --}}
	<div class="col right pull"><a href="#/changepassword" id="changePasswordLink">Change password</a></div>
</div>