<div class="welcome-screen">
	{{!
    <button aria-hidden="true" data-dismiss="modal" class="bootbox-close-button" type="button">
		<svg class="icon-dialog-close"><use xlink:href="#icon-close"></use></svg>
	</button>
    }}
	<div class="welcome-logo">
		<svg class="ws-logo"><use xlink:href="#vizor-logo-flat"></use></svg>
		<h1>Welcome to Vizor</h1>
	</div>
	<button id="welcome-gs">
		Get started
	</button>
</div>
<div class="welcome-footer">
    {{#if user.username}}
        <span>Hello, {{user.username}}.</span>
    {{else}}
        <a href="#/signup" class="signup">Sign Up</a> <span class="link-separator">&middot;</span>
        <span>Have an account? </span>
        <a href="#/login" class="login">Sign in</a> <span class="link-separator">&middot;</span>
    {{/if}}
	<span>Need help? Just ask in chat</span>
</div>