<form action="/forgot" id="forgotPasswordForm" method="POST">
    <p>Enter your email address below and we will send you instructions to reset your password.</p>
    <input type="hidden" name="_csrf" value={{_csrf}}>
    <fieldset>
        <div class="form-input" id="f_email">
            <label for="email_id">Email</label>
            <input type="email" name="email" id="email_id" class="required" placeholder="Email" tabindex="1">
            <span class="message"></span>
        </div>

        <div class="modal-error" id="unknown_error"><span></span></div>
    </fieldset>
    <button class="sign-btn" type="submit">
        <span>Send Instructions</span>
        <svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
    </button>
</form>

<div class="twocol clearfix modal-footer">
	<span class="col left"><a href="/signup" class="signup">Create a new account</a></span>
	<span class="col right pull"><a href="/login" class="login" id="signup-link">Sign in </a></span>
</div>