<h3>Sign in</h3>

<form action="/login" id="login-form_id" method="POST" class="clearfix">
    <input type="hidden" name="_csrf" value={{_csrf}}>

    <div class="form-input">
        <label for="email_id">Email</label>
        <input type="email" name="email" id="email_id" >
    </div>

    <div class="modal-error" id="email-error">
        <span></span>
    </div>

    <div class="form-input">
        <label for="password_id">Password</label>
        <input type="password" name="password" id="password_id" placeholder="">
    </div>

    <div class="modal-error" id="password-error">
        <span></span>
    </div>

    <div class="modal-error" id="general-error">
        <span></span>
    </div>

    <button id="sign-in-btn" class="sign-btn action" type="submit">
        <span>Sign in to Vizor</span>
        <svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
    </button>
</form>

<div class="twocol clearfix modal-footer">
    <div class="col left" style="width:34%">
        <a href="/forgot" class="forgot">Forgot password?</a>
    </div>
    <div class="col right" style="text-align:right; width:65%">
        Don't have an account? <a href="/signup" class="signup" id="signup-link">Sign up here</a>
    </div>
</div>