<h1 class="form-header">Please log in</h1>

<!-- Form -->
<form action="/login" id="login-form_id" class="panel" method="POST">
  <input type="hidden" name="_csrf" value={{_csrf}}>

  <div class="form-group">
    <input type="email" name="email" id="email_id" class="form-control input-lg" placeholder="E-mail" autofocus="true">
  </div> <!-- / Email -->

  <div class="form-group signin-password">
    <input type="password" name="password" id="password_id" class="form-control input-lg" placeholder="Password">
    <a href="/forgot" class="forgot">Forgot password?</a>
  </div> <!-- / Password -->

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">
      <span class="ion-android-hand"></span>
      &nbsp;Login
    </button>
  </div> <!-- / .form-actions -->
</form>
<!-- / Form -->
