<div class="modal-header">
	<h4>Sign in</h4>
	<button aria-hidden="true" data-dismiss="modal" class="bootbox-close-button" type="button">
		<svg class="icon-dialog-close"><use xlink:href="#icon-close"></use></svg>
	</button>
</div>
<div class="modal-body">
	<form action="/login" id="login-form_id" method="POST">
		<input type="hidden" name="_csrf" value={{_csrf}}>

		<div class="form-input">
			<label for="email_id">Email</label>
			<input type="email" name="email" id="email_id" placeholder="" tabindex="-2">
		</div> 
		
		<div class="modal-error" id="email-error">
			<span></span>
		</div>
		
		<div class="form-input">
			<label for="password_id">Password</label>
			<input type="password" name="password" id="password_id" placeholder="" tabindex="-1">
		</div>
		
		<div class="modal-error" id="password-error">
			<span></span>
		</div>
		
		<div class="modal-error" id="general-error">
			<span></span>
		</div>
		
		<button id="sign-in-btn" class="sign-btn" type="submit">
			<span>Sign in to Vizor</span>
			<svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
		</button>
	</form>
</div>
<div class="modal-footer">
	<span class="pull-left"><a href="/forgot" class="forgot">Forgot password?</a></span>
	<span class="pull-right">Don't have an account? <a href="/signup" class="signup" id="signup-link">Sign up here</a></span>
</div>