<form action="/login" id="login-form_id" method="POST">
  <input type="hidden" name="_csrf" value={{_csrf}}>

	<div class="form-input">
		<label for="email">Email</label>
		<input type="email" name="email" id="email_id" placeholder="" tabindex="-2">
	</div> 
	
	<div class="form-input">
		<label for="password">Password</label>
		<input type="password" name="password" id="password_id" placeholder="" tabindex="-1">
	</div>
	
	<div class="modal-error" id="login-error">
		<span></span>
	</div>
	
	<button id="sign-in-btn" class="sign-in-btn" type="submit">
		<span>Sign in to Vizor</span>
		<svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
	</button>
</form>