<div class="modal-header">
	<h4>Reset Password</h4>
	<button aria-hidden="true" data-dismiss="modal" class="bootbox-close-button" type="button">
		<svg class="icon-dialog-close"><use xlink:href="#icon-close"></use></svg>
	</button>
</div>

<div class="modal-body">
	<form action="/reset/{{token}}" id="reset-form_id" class="panel" method="POST">
		<input type="hidden" name="_csrf" value={{_csrf}}>
		
		<div class="form-input">
			<label for="password_id">Password</label>
			<input type="password" name="password" id="password_id" placeholder="" tabindex="-1">
		</div> 
		
		<div class="modal-error" id="password-error">
			<span></span>
		</div>
		
		<div class="form-input">
			<label for="password-confirm_id">Confirm password</label>
			<input type="password" name="confirm" id="password-confirm_id" placeholder="">
		</div> 
		
		<div class="modal-error" id="confirm-error">
			<span></span>
		</div>
		
		<div class="modal-error" id="general-error">
			<span></span>
		</div>
		
		<button id="rest-btn" class="sign-btn" type="submit">
			<span>Reset password</span>
			<svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
		</button>
		</div> 
	</form>
</div>