<h3>Change Password</h3>

<form action="/account/password" id="resetpasswordform" class="panel" method="POST">
    <input type="hidden" name="_csrf" value={{_csrf}}>

    <div class="form-input">
        <label for="passwordinput">Password</label>
        <input type="password" name="password" id="passwordinput" tabindex="1">
    </div>

    <div class="modal-error" id="password-error">
        <span></span>
    </div>

    <div class="form-input">
        <label for="confirmpasswordinput">Confirm password</label>
        <input type="password" name="confirm" id="confirmpasswordinput" tabindex="2">
    </div>

    <div class="modal-error" id="confirm-error">
        <span></span>
    </div>

    <div class="modal-error" id="general-error">
        <span></span>
    </div>

    <button id="rest-btn" class="sign-btn" type="submit">
        <span>Change password</span>
        <svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
    </button>
</form>