<h1 class="form-header">Create your Account</h1>

<!-- Form -->
<form action="/signup" id="signup-form_id" class="panel" method="POST">
  <input type="hidden" name="_csrf" value={{_csrf}}>

  <div class="form-group">
    <input type="username" name="username" id="username_id" class="form-control input-lg" placeholder="Username" autofocus="true">
  </div>

  <div class="form-group">
    <input type="email" name="email" id="email_id" class="form-control input-lg" placeholder="E-mail">
  </div>

  <div class="form-group">
    <input type="password" name="password" id="password_id" class="form-control input-lg" placeholder="Password">
  </div>

  <div class="form-group">
    <input type="password" name="confirmPassword" id="password_confirm_id" class="form-control input-lg" placeholder="Confirm Password">
  </div>
<!--
  <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
    <label class="checkbox-inline">
      <input type="checkbox" name="signup_confirm" class="px" id="confirm_id">
      <span class="lbl">I agree with the <a href="#" target="_blank">Terms and Conditions</a></span>
    </label>
  </div>
-->
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">
      <span class="ion-person-add"></span>
      &nbsp;Create my account
    </button>
  </div>
</form>
<!-- / Form -->
