<div class="modal-header">
	<h4>Sign in</h4>
	<button aria-hidden="true" data-dismiss="modal" class="bootbox-close-button" type="button">
		<svg class="icon-dialog-close"><use xlink:href="#icon-close"></use></svg>
	</button>
</div>

<div class="modal-body">
	<form action="/signup" id="signup-form_id" method="POST">
		<input type="hidden" name="_csrf" value={{_csrf}}>

		<div class="form-input">
			<label for="name_id">Your Name</label>
			<input type="text" name="name" id="name_id" placeholder="" tabindex="-1">
		</div> 
		
		<div class="form-input">
			<label for="username_id">Username</label>
			<input type="text" class="required" name="username" id="username_id" placeholder="" tabindex="-1">
		</div> 
		
		<div class="modal-error" id="username-error">
			<span></span>
		</div>

		<div class="form-input">
			<label for="email_id">Email</label>
			<input type="text" class="required" name="email" id="email_id" placeholder="" tabindex="-1">
		</div>
		
		<div class="modal-error" id="email-error">
			<span></span>
		</div>
		
		<div class="form-input">
			<label for="password_id">Password</label>
			<input type="password" class="required" name="password" id="password_id" placeholder="" tabindex="-1">
		</div>
		
		<div class="modal-error" id="password-error">
			<span></span>
		</div>
		
		<div class="modal-error" id="general-error">
			<span></span>
		</div>
		
		<button id="sign-up-btn" class="sign-btn disabled" type="submit">
			<span>Create an Account</span>
			<svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
		</button>
	  
	</form>
</div>
<div class="modal-footer">
	<p>By signin up you agree to <a href="/termsofservice" target="_blank" alt="Read Terms of Service">Terms of Service</a>
	<p>Already have an account? <a href="/login" id="signinModalLink" class="login" alt="Sign in">Sign in here</a>
</div>
