<div class="actions flexcenter">
	<button data-action="duplicate" {{!-- data-objectid="{{id}}" --}}
									class="action duplicate svg tiny" 	data-svgref="icon-ca-duplicate">Duplicate</button>
	<button data-action="share" 	class="action share svg tiny" 		data-svgref="icon-ca-share">Share</button>
	{{#if allowAllActions }}
	<button data-action="publish" 	class="action publish svg tiny" 	data-svgref="icon-ca-publish">Publish</button>
	<button data-action="download" 	class="action download svg tiny" 	data-svgref="icon-ca-download">Download</button>
	<button data-action="move" 		class="action move svg tiny" 		data-svgref="icon-ca-move">Move</button>
	<button data-action="delete" 	class="action delete warn svg tiny" data-svgref="icon-ca-delete">Delete</button>
	{{/if}}
</div>