<article class="asset new card noselect" data-objectid="" data-asset-type="{{assetType}}">
	<div class="meta scrollbar">
		<h4 class="editable"><a href="{{path}}">Create new {{assetTypeText}}</a></h4>
	</div>
	<div class="image new">
        {{> controls/svgLink class='action mainaction new' href=path svgref=iconRef text=(concat 'New' assetTypeText) }}
	</div>
</article>