<div id="flash">

  {{#if messages.errors}}
  <div class="alert alert-danger animated fadeIn">
    <button class="close" type="button" data-dismiss="alert">
      <span class="ion-close-circled"></span>
    </button>
    {{#each messages.errors}}
    <div>{{this.message}}</div>
    {{/each}}
  </div>
  {{/if}}

  {{#if messages.info}}
  <div class="alert alert-info animated fadeIn">
    <button class="close" type="button" data-dismiss="alert">
      <span class="ion-close-circled"></span>
    </button>
    {{#each messages.info}}
    <div>{{this.message}}</div>
    {{/each}}
  </div>
  {{/if}}

  {{#if messages.success}}
  <div class="alert alert-success animated fadeIn">
    <button class="close" type="button" data-dismiss="alert">
      <span class="ion-close-circled"></span>
    </button>
    {{#each messages.success}}
    <div>{{this.message}}</div>
    {{/each}}
  </div>
  {{/if}}

</div>
