<div id="mobilemenu" class="mobileonly overlay" style="display:none;">
	<div style="position:absolute; top:8px; right: 12px; width: 30px; height: 30px; z-index: 10;">
		<button class="nofx" id="mobileMenuCloseButton">+</button>
	</div>
	<div id="menuContainer">
		<ul>
			<li><a href="/browse">Browse Projects</a></li>
            <li><a href="http://vizorvr.herokuapp.com">Public Slack</a></li>
            <li><a class="github" href="https://github.com/vizorvr/vizor">Github</a></li>
            <li><a href="http://youtube.com/Vizor_VR">Youtube Tutorials</a></li>
            <li><a href="http://vizor.io">Visit Vizor.io</a></li>
		</ul>
        <div>
            <a href="/">
                <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M24.889 14.756v4.006c0 6.038-10.667-3.74-10.667 1.333v3.638" stroke="#FFF" stroke-width="2"/><g transform="matrix(1 0 0 -1 10.222 31.2)"><rect fill="#A311CE" y=".267" width="8" height="8" rx="2"/><circle fill="#080624" cx="4" cy="4.267" r="1.778"/><circle fill="#FFF" cx="4" cy="4.267" r="1"/></g><g transform="matrix(0 -1 -1 0 28.889 15.644)"><rect fill="#3696FF" transform="rotate(-90 4 4)" width="8" height="8" rx="2"/><g transform="rotate(-90 4 1.778)"><circle fill="#080624" cx="1.778" cy="1.778" r="1.778"/><circle fill="#FFF" cx="1.778" cy="1.778" r="1"/></g></g><circle stroke="#FFF" stroke-width="2" transform="matrix(0 -1 -1 0 40 40)" cx="20" cy="20" r="19"/></g></svg>
            </a>
        </div>
	</div>
</div>