<div id="mobilemenu" class="mobileonly overlay" style="display:none;">
	<div style="position:absolute; top:17px; right: 20px; width: 30px; height: 30px; z-index: 10;">
		<button class="nofx" id="mobileMenuCloseButton"><img src="/images/home/xclose.png" width="25" height="32" alt="" /></button>
	</div>
	<h1 id="brandTop" class="brandTop">
		<svg style="fill:#fff;" width="68" height="24" >
			<use xlink:href="#vizor-top-logo" />
		</svg>
	</h1>
	<div id="menuContainer">
		<ul>
			<li><a class="scrollto" href="#whyusevizor">Why Vizor?</a></li>
			<li><a class="scrollto" href="#howitworks">How it works</a></li>
			<li><a class="scrollto" href="#vizorteam">Team</a></li>
			<li><a href="//blog.vizor.io" target="_blank">Blog</a></li>
			<li><a class="scrollto" href="#getnewsletter">Newsletter</a></li>
			<li><a href="/graph/latest">View a Graph</a></li>
		</ul>
		<ul>
			<li><a class="email" href="mailto:info@vizor.io?subject=hello" target="_blank" title="Email us">Email us</a></li>
			<li><a class="twitter" href="https://twitter.com/Vizor_VR" target="_blank" title="Follow us">@Vizor_VR</a></li>
			<li><a class="github" href="https://github.com/vizorvr/vizor" target="_blank" title="GitHub">GitHub</a></li>
			<li><a class="angellist" href="https://angel.co/vizor" target="_blank" title="Vizor on Angellist">Angellist</a></li>
			<li><a class="vizor editor" href="/edit" title="Open the Editor">Open editor</a></li>
			<li><a class="legal terms googledocs" href="https://docs.google.com/document/d/172dWVz8bSEDxS_y2InXpqWhVvbM7w1Z9MSp1-Lw1rIc/edit?usp=sharing"
				   title="Vizor Terms and conditions and Privacy statement">Terms</a></li>
		</ul>
	</div>
</div>