<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li id="vizor-logo">
        <div id="info">
          <a href="/">
            <span>
              <img id="infopanelogo" src="../../images/logo-graphic.png">
            </span>
            <span>Vizor Create</span>
          </a>
        </div>
      </li>
    </ul>
    <a id="open-the-editor" class="btn btn-lg btn-success" href="/editor">Open the Editor</a>
    {{> userpulldown }}
  </div>
</div>
