<div id="topnavwrap" class="twocol clearfix in">
    <div class="col left">
	<nav id="topnav">
		<ul class="clearfix">
			<li id="brandTop">
				<a href="/">
					<svg style="fill:#fff;" width="112" height="26" >
						<use x="-35" y="0" xlink:href="#vizor-logo-flat" />
						<use x="20" y="0"  xlink:href="#vizor-top-logo" />
					</svg>
				</a>
			</li>
			<li style="line-height:26px;">
				<a style="vertical-align: middle" id="open-the-editor" class="svg action go" href="/editor">Open the Editor</a>
			</li>
		</ul>
	</nav>
    </div>
    <div class="col right" style="text-align: right;">
		{{#if meta.noUserPanel}}{{else}}
		<ul class="clearfix">
			<li id="account">
				{{> userpulldown }}
			</li>
		</ul>
		{{/if}}
    </div>
</div>
