<div class="error noWebGL">
    <svg style="width:100px; height: 200px; fill: #afbfdf;">
        <use xlink:href="#logo-big"></use>
    </svg>
    <p>
        {{#if embed}}
            Vizor.io embedded VR content
        {{else}}
            Vizor.io
        {{/if}}
        requires a WebGL-capable browser.<br />

        We recommend
        <a href="http://google.com/chrome" target="_top">Google Chrome</a>
        or
        <a href="http://getfirefox.com" target="_top">Mozilla Firefox</a>.
    </p>
    <p>Please make sure you have WebGL enabled and try again.</p>
</div>