<article id="shareDialog">

    <section id="shareURL">
        <input type="text" value="{{shareURL}}" readonly />
    </section>
    <section id="embedSource" class="collapsible">
        <label><a href="#embedcode" class="trigger">Embed code</a></label>
        <textarea id="embedcode" class="scrollbar target" readonly
        ><script src="{{origin}}/scripts/embed.js" data-vizorurl="{{embedSrc}}" /></textarea>
    </section>
</article>