<article id="shareDialog">
    <section id="shareURL">
        <label>Link:</label>
        <input type="text" value="{{shareURL}}" readonly />
    </section>
    <section id="embedSource">
        <label>Embed code:</label>
        <textarea class="scrollbar" readonly
        ><iframe src="{{embedSrc}}" width="800" height="450" frameborder="0" allowfullscreen></iframe></textarea>
    </section>
</article>