<ul class="nav navbar-nav navbar-right" id="user-pulldown">
  {{#if user}}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{user.username}}
      <i class="caret"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="account" href="/account"><span class='ion-person'></span> My Account</a>
      </li>
      <li>
        <a href="/logout"><span class="ion-log-out"></span> Logout</a>
      </li>
    </ul>
  </li>
  {{else}}
  <li><a class="login btn btn-sm btn-default" href="/login">Login</a></li>
  <li><a class="signup btn btn-sm btn-default" href="/signup">Sign up</a></li>
  {{/if}}
</ul>
