.preset-list-contained-box {
	overflow: hidden !important;
}

.preset-list-container {
	overflow: hidden;
	width: 100%;
	max-height: 310px;
	.preset-list-content {
		width: 100%;
		max-height: 310px;
		overflow-y: auto;
		overflow-x: hidden;
		.panel {
		    min-height: 32px;
		    padding: 8px 16px 5px 10px;
		    color: @editor-text-default;
		    box-sizing: border-box;
		}
	}
}

.result.table {
    width: @floating-box-width;
}
.result li,
.panel {
	margin-top: 1px;
	margin-bottom: 1px;
}

.result-item  {
    color: @editor-text-default;
    padding: 8px 16px 8px 24px !important;
}

.result.table td.result-item.active {
  color: lighten(@editor-text-default, 20);
  background: rgba(0,0,0,0.1);
}

.result-item:hover {
    color: @editor-text-hover;
    background: rgba(0,0,0,0.05);
}

.panel-default {
	border-color: @bg-darker;
}
.panel-default > .panel-heading {
	background-image: none;
	background-color: @bg-light;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
	border-top: 0px;
}

.panel-group {
	margin: 0;
	overflow: auto;
	border-radius: 0px;
}

.panel-group .panel {
	border-radius: 0px;
}

.panel-group .panel+.panel {
	margin: 0;
}

.panel-heading {
	border-radius: 0px;
	padding: 0;
}

.result li:hover,
.panel-heading:hover, {
	color: @editor-text-hover;
	background-color: @bg-light;
	background-image: none;
}

.panel-title .glyphicon {
	margin-right: 6px;
	margin-left: 6px;
}

.result,
.panel-body,
.panel-body ul {
    padding: 0;
    margin: 0;
    border-top: 0px;
}

.result tr,
.panel-body li {
	cursor: pointer;
}

.panel-body li {
    padding: 10px 0 5px 15px;
}

li.active,
.panel-body li:hover {
	color: @editor-text-hover;
}
