@color-placeholder: 	#414857;

.bootbox.modal, .bootbox.modal:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bootbox.modal:before {
    background-color: darken(rgba(61,67,83,0.8), 50%);;
    content: '';
}
.modal.wide .modal-dialog {
  width: 800px;
}

.modal.wideauto .modal-dialog {
  width: 90%;
}

.modal.popupEmbed .modal-dialog {
  width: 700px;
  .modal-content {}
  .modal-body {
	padding:30px;
  }
}

.modal-dialog {
    width: 400px;

    &.file-select-dialog {
    	width: 600px;
    }
    border-radius: 0;
    margin: (@menu-bar-height + @breadcrumb-height + 30) auto 0 auto;
    .button {
        box-shadow: 0 0 0 rgba(0,0,0,0)!important;
    }
    input {
        box-shadow: 0 0 0 rgba(0,0,0,0)!important;
        outline: none!important;
    }
    button.bootbox-close-button {
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        padding: 0;
        border: 0 none;
        background: transparent;
        opacity: 1;
        svg {
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            margin: -8px 0 0 -8px;
            left: 50%;
            top: 50%;
            fill: #bccbe4;
        }
        &:hover svg {
            fill: #ffffff;
        }
    }
    .modal-content {
            border-radius: 4px;
            box-shadow: 0 0 2px rgba(0,0,0,0.22);
            background: transparent;
            position: relative;
            width: 100%;
            > div {
                display: block;
                position: relative;
			  	border-top:1px solid transparent; // safari
                width: 100%;
            }
            .modal-header {
                background: @bg-dark;
                height: 60px;
                border: 0 none;
                text-align: center;
                padding: 0;
                > h4 {
                    padding: 20px 20px 0 20px;
                    color: #bccbe4;
                    font-size: 22px;
                    font-weight: 300;
                    margin: 0;
                    line-height: 1;
                }
            }
            .modal-body {
                background: @bg-light;
                padding: 22px 24px 18px;
                box-sizing: border-box;
                font-size: 14px;
                color: #fff;
                font-weight: 300;
				a, a:active {
					color: @bg-bright;
					text-decoration: none;
					&:hover {
						color: @editor-text-active;
						text-decoration: none;
					}
				}
                .bootbox-body {
                    padding: 0;
                    text-align: center;
                }
                h4 {
                    font-size: 14px;
                    color: @editor-text-active;
                    padding: 10px 0;
                }
			  	fieldset {margin-bottom:1em;}
                div.form-input {
                    width: 100%;
                    border-radius: 4px;
                    margin: 0 auto 5px;
                    position: relative;
                    text-align: left;
                    &.error input {
                        border: 1px solid @editor-text-hover;
                    }
				  	>input, >label {padding: 10px 20px;}
                    >input {
					  	background: rgba(0,0,0,0.3);
					  	width: 100%;
						border: 1px solid transparent;
					  	border-radius: 3px;
                        font-size: 16px;
                        line-height: 1.33;
                        font-weight: 300;
                        color: @editor-text-active;
					  	z-index: 1;
                    }
					::-webkit-input-placeholder {
					   color: lighten(@color-placeholder, 10%);
					}
					::-moz-placeholder {
					   color: lighten(@color-placeholder, 10%);
					}
				  	.in_focus::-webkit-input-placeholder {
					   color: darken(@color-placeholder, 5%);
					}
					.in_focus::-moz-placeholder {
					   color: darken(@color-placeholder, 5%);
					}
                    >label {
					  	display:none; // modals only!
                        color: #414857;
                        font-size: 16px;
                        font-weight: 400;
					  	float:left;
					  	position:absolute;
					  	top:0;
					  	z-index: 0;
                    }
				  	>span.message {
					  clear: left;
					  display: block;
					  text-align: right;
					  color: #fff;
					  padding-top:2px;
					  font-size: 85%;
					}
					>span.message:after {
					  content: "."; color: rgba(0,0,0,0);		// prevent from collapsing
					}
				  	&.error>span.message {
					  color: #ff6868;
					}
                }
                div.modal-error {
				    display: none;
                    span {
                        color: #ff6868;
                        display: block;
                        width: 100%;
                        height: 16px;
                        font-size: 12px;
                    }
                    &#general-error span {
                        text-align: center;
                    }
                    &.revealError {
                        display: block;
                        height: 16px;
                        animation: revealModalError 0.35s ease-out;
                    }
                    &.hideError {
                        display: block;
                        height: 0;
                        animation: hideModalError 0.35s ease-in;
                    }
                }
                button {
                  	position: relative;
                    border-radius: 4px;
                    background: darken(@bg-bright, 5%);
                }
                button.sign-btn {
                    width: 100%;
                    height: @modal-control-height;
                    color: @editor-text-default;
                    border: 0 none;
                    padding: 0;
                    span {
                        display: block;
                        position: relative;
                        padding: 15px 20px 0 22px;
                        height: @modal-control-height;
                        font-size: 16px;
                        float: left;
                        color: @editor-text-active;
                    }
                    svg {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        right: 22px;
                        top: 50%;
                        margin: -12px 0 0;
                        stroke: @editor-text-active;
                    }
                    &.disabled {
                        background: #515c75;
                    }
					&:hover {
					  background: @bg-bright;
					}
                }
            }
            .modal-footer {
                background: @bg-dark;
                border: 0 none;
                text-align: center;
                padding: 20px 40px;
                box-sizing: border-box;
			  	color: @editor-text-hover;
			  	font-size: 12px;
			  	font-weight: 400;
                span, p {
                    padding: 0;
                    margin: 0;
                    display: block;
                    a, a:active {
                        color: #2d93c9;
                        text-decoration: none;
                        &:hover {
                            color: @editor-text-active;
                            text-decoration: none;
                        }
                    }
                }
                p {
                    padding: 0 40px 8px 40px;
                    text-align: center;
                    &:last-child {
                        padding: 0 40px;
                    }
                }
                button.btn {
                    border-radius: 4px;
                    background: @bg-bright;
                    border: 0 none;
                    font-size: 16px;
                    color: #ffffff;
                    padding: 8px 12px;
                    &:hover {
                        border: 0 none;
                        color: @editor-text-active;
                    }
                }
            }
            
    }
    &.patch-inspector {
        .modal-header {
            text-align: left;
            background: @bg-light;
            border-bottom: 1px solid @bg-darker;
            min-height: 60px;
            height: auto;
            h4 {
                color: @editor-text-default;
                font-weight: 600;
                font-size: 16px;
                padding: 20px 18px;
            }
            button.bootbox-close-button {
                top: 28px;
                svg {
                     fill: @editor-text-default;
                }
            }
            ul {
                display: table;
                position: relative;
                padding: 0;
                margin: 0 auto;
                float: left;
                height: 35px;
                li {
                    display: table-cell;
                    position: relative;
                    text-align: center;
                    vertical-align: center;
                    height: 35px;
                    border-top: 1px solid @bg-darker;
                    border-right: 1px solid @bg-darker;
                    &:last-child {
                        border-right: 0;
                    }
                    a, a:active {
                        display: block;
                        font-weight: 600;
                        height: 35px;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: @editor-text-default;
                        outline: none;
                        padding: 8px 0 0;
                        &:hover {
                            color: @editor-text-hover;
                            text-decoration: none;
                        }
                    }
                    &.active {
                        background: @bg-lighter;
                        a, a:active, a:hover {
                            color: @editor-text-default;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .modal-body {
            padding: 30px 16px;
            input[type=checkbox] {
                display: none;
            }
            input[type=checkbox] + label {
                font-size: 14px;
                font-weight: 400;
                color: @editor-text-default;
                cursor: pointer;
            }
            input[type=checkbox] + label span {
                display: inline-block;
                border: 0 none;
                border-radius: 2px;
                background: #394055;
                height: 14px;
                width: 14px;
                margin: 3px 10px 0 0;
                position: relative;
                float: left;
                svg {
                    display: none;
                    height: 14px;
                    width: 14px;
                    float: left;
                }
            }
            input[type=checkbox]:checked + label span {
                background: #6b748f;
                svg {
                    display: block;
                }
            }
        }
        .modal-footer {
            background: @bg-light;
            border-top: 1px solid @bg-darker;
            padding: 20px 16px;
            button.btn {
                height: 28px;
                min-width: 100px;
                background: #1e222c;
                color: @editor-text-default;
                padding: 0;
                font-size: 12px;
                font-weight: 400;
                float: left;
                &:last-child {
                    float: right;
                }
                &:first-child {
                    float: left;
                }
                &.btn-primary {
                    float: right;
                }
            }
        }
    }
}
.bootbox.modal.nopad {
  .modal-content, .modal-body {padding:0;}
  .modal-body form {
	margin: 18px 26px;
  }
  .modal-body p.left {text-align: left;}
  .modal-body>p {
	margin-left: 40px; margin-right: 40px;
  }
  .modal-body .bootbox-body {
	p:only-child {
	  margin: 20px 40px;
	}
  }
}

.modal.login {
  button.close {
	top: 12px;
	right: 2px;
  }
  h3:first-child {
	background: rgba(0,0,0,0.2);
	margin: 0;
	padding: 18px;
  }
  div.modal-footer {
	background: rgba(0,0,0,0.2);
	font-size: 12px;
	font-weight: 500;
  }
}

div.bootbox.modal {
  .modal-header, .modal-content {	// necessary for selector weight
	button.bootbox-close-button {
		background: transparent;
	  	color:#ccc;
	  	font-weight: 100;
		float: none;
		position: absolute;
		top: 9px;
	  	right: 2px;
		margin: 0;
	}
  }
}

.modal-dialog .file-select-control {
    border: 0;
    float: left;
    padding: 20px 0 0;
    width: 100%;
    .tab-content {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 0;
        border: 0;
    }
    ul.nav-tabs {
        display: table;
        position: relative;
        float: left;
        width: 100%;
        height: 32px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid @bg-darker;
        border-left: 1px solid @bg-darker;
        > li {
            display: table-cell;
            position: relative;
            text-align: center;
            vertical-align: middle;
            float: none;
            height: 32px;
            background: @bg-light;
            border-right: 1px solid @bg-darker;
            border-top: 1px solid @bg-darker;
            :last-child {
                border: 0;    
            }
            a {
                padding-top: 8px; 
                height: 32px;
                outline: none;
                color: @tab-text-inactive;
                font-size: 12px;
                font-weight: 600;
                display: block;
                border-radius: 0;
                h4 {
                    margin: 0;
                    padding: 0;
                    color: @tab-text-inactive;
                    line-height: 1.33;
                    font-weight: 600;
                }
            }
            a:active, a:focus {
                text-decoration: none;
                }
            &:hover a {
                background: none;
            }
        }
        > li.active {
                background: @bg-lighter;
                a {
                    color: @editor-text-active;
                    background: none;
                    h4 {
                        color: @editor-text-active;
                    }
                }
        }
        > li.active:hover {
                a {
                    text-decoration: none; 
                }
        }
        > li:hover {
                a {
                    text-decoration: none; 
                    color: @editor-text-active;
                    h4 {
                        color: @editor-text-active;
                    }
                }
        }
    }
}

.modal-dialog tr#buttons-row {
    td {
        vertical-align: middle;
        button {
            height: @searchbox-height;
            padding: 0 8px;
        }
    }
}

.modal-dialog .fileUploadForm {
    margin: 10px 0;
    width: 100%;
    > input, > button {
        float: left;
        display: table-cell;
    }
    > .browse-button {
        margin: 0;
        width: 25%;
        &:hover {
            color: @editor-text-default;
        }
    }
    > #fileUploadName {
        width: 46%;
        margin: 0 2%;
        background: @bg-dark;
        color: @editor-text-default;
    }
    .btn-primary {
        height: @searchbox-height;
        background: @bg-bright;
        color: @editor-text-active;
        &:hover {
            color: @editor-text-default;
        }
    }
    #fileUploadFile {
        display: none;
    }
}

.userpage-dialog {
    .modal-content {
        .modal-body {
            background: #ffffff;
            div.form-input {
                background: #f6f7f8;
                input, label {
                    color: #535c6b;
                }
                label:after {
                    display: none;
                }
            }
            div.form-select {
                .icon-arrow-down {
                    height: 7px;
                    width: 10px;
                    position: absolute;
                    right: 20px;
                    top: 22px;
                    stroke: #535c6b;
                    left: auto;
                    z-index: 97;
                }
                input {
                    display: none;
                }
                label {
                    cursor: pointer;
                    z-index: 98;
                }
                ul {
                    position: relative;
                    width: 100%;
                    height: @modal-input-height;;
                    margin-top: @modal-input-height;
                    li {
                        width: 100%;
                        float: left;
                        position: relative;
                        height: @modal-input-height;
                        background: #f6f7f8;
                        color: #535c6b;
                        padding: 15px 20px 0 22px;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 400;
                        border-top: 1px solid #fff;
                        &:hover {
                            background: @bg-bright;
                            color: @editor-text-active;
                        }
                        &:last-child {
                            border-radius: 0 0 4px 4px;
                        }
                    }
                }
                &.active {
                    overflow: visible;
                    .icon-arrow-down {
                        transform: rotate(180deg);
                    }
                }
            }
            button.user-btn {
                width: 100%;
                height: @modal-control-height;
                border: 0 none;
                padding: 0;
                color: @editor-text-active;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}

@keyframes revealModalError {
    0% {
        height: 0;
    }
    100% {
        height: 16px;
    }
}

@keyframes hideModalError {
    0% {
        height: 16px;
    }
    100% {
        height: 0;
    }
}


// welcome slides

@modal-welcome-width: 588px;
@modal-welcome-height: 440px;
@modal-welcome-transition-length: 0.4s;
@modal-welcome-background: #2d4b77;

.modal-intro-tight {
	margin:0;
	padding:0;
	border-radius: 5px 5px;
}
.modal-intro-dimensions {
  width: @modal-welcome-width;
  height: @modal-welcome-height;
}

.modal .launch-button {
  .launch-button-macro;
}

.bootbox.modal.editorIntro {
  .bootbox-close-button {
	z-index: 10;
  }
  .modal-content {
	left: -94px;
	top: 40px;
	overflow: hidden;
	.modal-intro-tight;
	.modal-intro-dimensions;
  }
}


