@bgcolor-progress-incomplete: rgba(255,255,255,1);
@bgcolor-progress-complete: rgba(255,255,255,0.5);
@bgcolor-progress-bar: rgba(32,32,32,0.5);
@bgcolor-graph-heading: rgba(0,0,0,0.1);
@color-graph-heading: #fff;
@color-graph-buttons: #ddd;

.webvr-polyfill-viewer-selector {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10010;	// above canvas
  width: 100%;
  height: 100%;
}

body.bPlayer header {
  pointer-events: none;
  >div {
	pointer-events: initial;
  }
}
body.bPlayer, body.b360 {

  .modal {
	-webkit-font-smoothing: subpixel-antialiased;
  }
  .modal.viewinvr .modal-dialog {
	margin: 15% auto;
  }

  .modal.viewinvr .bootbox-body {
	font-family: @font-family-sans-serif;
	font-size: 140%;
	padding: 20px;
	p:first-child {
	  margin-top:0;padding-top:0;
	  font-weight: 500;
	}
	a {
	  color: white;
	  padding: 5px 10px;
	  border-radius: 5px;
	}
  }
}
body.bPlayer {

  height:100%; width:100%;

  #playerpage {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height: 100%;
  }
  &.assetsLoaded .loadingonly {display: none}
  &.playing .noplaying,
  &.paused .nopaused,
  &.stopped .nopaused,
  &.autoplay .noautoplay
  {display: none}



  #playerWrap {
	#loadingStage {
	  svg {
		position: absolute;
		top: 25%;
		left: 50%;
		margin-left: -50px;
		margin-top: -50px;
	  }
	}
  }

}

body.inVR #playerpage header {
  display: none !important;
}

button#backfromvr {
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background: rgba(1,1,1,0.3);
  &:active {
	background: rgba(255,255,255,0.2);
  }
}

body.b360 #playerpage {
  &div> * { border:0; margin: 0; padding:0;}
}

#playerpage {
  min-height: 100%;

  #playerWrap {
	  position: fixed;
	  top:0;
	  bottom:0;
	  left: 0;
	  right:0;
	  display: flex;
	  flex-direction: column;
	  height: 100%;
	  display: -webkit-flex;
	  -webkit-flex-direction: column;
  }

  #stage, #playerWrap .stage {
	  -webkit-flex: 1;
	  -webkit-flex-order: 2;
	  flex:1;
	  order: 2;
	  min-height: 100px;	// allow _some_ height at all
  }
  #playerWrap .stage {
	display: none;
	position: relative;
	&.front {	// selected stage
	  display: block
	}
  }

  .noWebGL {
  	margin: 100px auto 0 auto;
	width: 400px;
	svg {
	  margin-left: -5px;
	}
	line-height: 1.5em;
	font-size: 110%;
  }
}

body.bPlayer.paused header,
body.bPlayer.stopped header
{
  h2#graph_heading, div.controls button, div.controls a.btn {
	text-align: center;
	margin: 0 auto;
  }
}

body.b360 #playerpage header div.controls {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;;
}

#playerpage header {

	-webkit-flex: 0 1 auto;
	-webkit-flex-order: 1;
	flex: 0 1 auto;
	order: 1;

  position: fixed;


  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.3);

  z-index: 30;

  &> * { border:0; margin: 0; padding:0;}

  a {border:0; margin:0; padding:0;}

  #logo_h {
	float:left;
	span {display:none;}
	span#load_spinner {
	  float:left;
	  display: block;
	  visibility: hidden;
	  height:30px; width:30px;
	  margin:13px 2px 0 5px;
	}
  }
  .controls {
	margin-top: 15px;
	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;
  }

  button.svg, a.btn.svg {
	cursor: hand ! important;
	cursor: pointer ! important;
	background: none;
	height: 50px; /* includes padding */
	width: 50px;
	padding: 5px;
	margin: 5px 10px;
	border: 0;
	outline: none;
	border-radius: 5px;
	svg {
	  width: 40px;
	  height: 40px;
	  vertical-align: middle;
	  stroke: @color-graph-buttons;
	  fill: none;
	  display: block;
	}
	> span {
	  display: none;
	}
  }

  #graph_heading {
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 10.5pt;
	font-weight: 500;
	color: @color-graph-heading;
	text-align: center;
	a {color: @color-graph-heading;}
	position: relative;
	svg {
	  height: 2ex; width: 2ex;
	  margin-right: 5px;
	  margin-left: 0ex;
	  vertical-align: -12.5%;
	  stroke: none;
	  fill:@color-graph-heading;
	}
	>* {vertical-align: middle; }
  }
}

div.nojs, div.nowebgl {
  font-size: 130%;
  width: 600px;
  margin: 100px auto;
}

#progressbar {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 2px;
  width: 100%;
  opacity: 0.75;
  margin: 10px 0;
  transition: background-color 1s;
  border: 0;
  &::-webkit-progress-value {
	position:relative;
	top:-1px;
	height: 4px;
	background-color:@bgcolor-progress-incomplete;
	transition: background-color 1s;
	border-radius: 2px;
  }
  &::-moz-progress-bar {
	background-color: @bgcolor-progress-incomplete;
	height: 2px;
  }
  &::-webkit-progress-bar {
	background-color: @bgcolor-progress-bar;
  }
  background-color: @bgcolor-progress-bar;	// firefox

  &:not([value]) {
	&::-moz-progress-bar {
	  background-color: #555;
	}
  }
  &[value="100"] {
	transition: background-color 5s;
	height: 1px;
	&::-webkit-progress-bar {
	  background-color: @bgcolor-progress-complete;
	  transition: background-color 5s;
	  height: 1px;
	}
	&::-webkit-progress-value {
	  background-color: @bgcolor-progress-complete;
	  transition: background-color 5s;
	  height: 1px;
	  top:0;
	}
	&::-moz-progress-bar {
	  background-color: @bgcolor-progress-complete;
	  height: 1px;
	  transition: background-color 5s;
	}
  }
}

body.bPlayer #playerpage header {
  >div {
	margin-left: -160px;
	width: 320px;
	padding: 20px 20px;
	bottom: 10%;
  	left: 50%;
	position: absolute;
  }
}
body.bPlayer.b360 #playerpage header>div {
  margin-left: 0;
	width: auto;
	padding: 0;
	bottom: auto;
  	left: auto;
	position: static;
}

body.deviceDesktop #playerpage header {
  button.svg, a.btn.svg {
	 &:hover svg {
	  opacity:1;
	  stroke: #fff;
	}
  }
}

body.deviceTablet, body.deviceMobile {
  #playerpage header {
	button.svg, a.btn.svg {
	  svg {
		stroke: #fff;
	  }
	  &:active svg {
		opacity: 1;
		stroke: #fff;
	  }
	}
  }
}


body.deviceMobile #playerpage header, body.deviceTablet #playerpage header {
  h2#graph_heading {
	text-align: center;
	svg {	// preserve heading in center, shifting logo to left
	  position: absolute;
	  margin-left: -22px;
	}
  }
  .controls {
	-webkit-justify-content: center;
	justify-content: center;
	button+button, a.btn+button, button+a.btn, a.btn+a.btn {
	  margin-left: 10px;
	  margin-right: 10px;
	}
  }
}

body.deviceMobile.landscape .modal-dialog {
 	margin-top: 30px;
}

@media all and (max-height: 700px) {
  body.landscape #playerpage header>div {
		bottom: 3%;
  }
  body.b360 #playerpage header>div {
	bottom:initial;
  }
}

@media all and (max-height: 500px) {
  body.landscape #playerpage header>div {
		bottom: 0;
  }
  body.b360 #playerpage header>div {
	bottom:initial;
  }
}