<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head id="head">
    <title>Vizor Create</title>
    <link href="/style/less.css" rel="Stylesheet" type="text/css"/>
    <link href="/style/menu.css" rel="Stylesheet" type="text/css"/>
    <link href="/style/tree.css" rel="Stylesheet" type="text/css"/>
    <link href="/style/icons/style.css" rel="Stylesheet" type="text/css"/>
    <link href="/vendor/font-awesome-4.2.0/css/font-awesome.min.css" rel="Stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300" type="text/css">

    <script>{{> ga}}</script>

    <script type="text/javascript" src="/vendor/when.js"></script>

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/node_modules/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.fastfix.js"></script>
    <script type="text/javascript" src="/vendor/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/vendor/js.cookie.min.js"></script>

    <script type="text/javascript" src="/vendor/bootbox.min.js"></script>
    <script type="text/javascript" src="/node_modules/backbone/backbone-min.js"></script>

    <script type="text/javascript" src="/node_modules/handlebars/dist/handlebars.min.js"></script>
    <script type="text/javascript" src="/node_modules/moment/min/moment.min.js"></script>

    <script type="text/javascript" src="/vendor/webgl-debug.js"></script>

    <script type="text/javascript" src="/scripts/event-emitter.js"></script>

    <script type="text/javascript" src="/scripts/core.js"></script>
    <script type="text/javascript" src="/scripts/util.js"></script>
    <script type="text/javascript" src="/scripts/draggable.js"></script>
    <script type="text/javascript" src="/scripts/treeview.js"></script>
    <script type="text/javascript" src="/scripts/context-menu.js"></script>

    <script type="text/javascript" src="/scripts/file-select-control.js"></script>
    <script type="text/javascript" src="/scripts/collapsible-select-control.js"></script>
    <script type="text/javascript" src="/scripts/plugin-group.js"></script>
    <script type="text/javascript" src="/scripts/plugin-manager.js"></script>
    <script type="text/javascript" src="/scripts/preset-manager.js"></script>
    <script type="text/javascript" src="/scripts/peopleManager.js"></script>
    <script type="text/javascript" src="/scripts/connection.js"></script>
    <script type="text/javascript" src="/scripts/graph.js"></script>
    <script type="text/javascript" src="/scripts/node.js"></script>
    <script type="text/javascript" src="/scripts/node-ui.js"></script>
    <script type="text/javascript" src="/scripts/registers.js"></script>
    <script type="text/javascript" src="/scripts/player.js"></script>
    <script type="text/javascript" src="/scripts/application.js"></script>
    <script type="text/javascript" src="/scripts/editConnection.js"></script>
    <script type="text/javascript" src="/scripts/player.js"></script>

    <script type="text/javascript" src="/scripts/graphApi.js"></script>
    <script type="text/javascript" src="/scripts/commands/undoManager.js"></script>
    <script type="text/javascript" src="/scripts/commands/graphEditCommands.js"></script>
    <script type="text/javascript" src="/scripts/commands/fork.js"></script>

    <script type="text/javascript" src="/scripts/mid-pane.js"></script>
    <script type="text/javascript" src="/scripts/shader-editor.js"></script>

    <script type="text/javascript" src="/scripts/account-controller.js"></script>
    <script type="text/javascript" src="/scripts/models.js"></script>
    
    <script type="text/javascript" src="/scripts/wschannel.js"></script>

    <script type="text/javascript" src="/scripts/editorChannel.js"></script>

    <script type="text/javascript" src="/scripts/store.js"></script>
    <script type="text/javascript" src="/scripts/graphStore.js"></script>
    <script type="text/javascript" src="/scripts/peopleStore.js"></script>

	<script type="text/javascript" src="/scripts/noise.js"></script>

    <script type="text/javascript" src="/scripts/chat.js"></script>

    <script type="text/javascript" src="/vendor/flux.js"></script>

    <script type="text/javascript" src="/vendor/three/three.js"></script>
    
    <script type="text/javascript" src="/vendor/three/OBJLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/OBJMTLLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/MTLLoader.js"></script>
    <script type="text/javascript" src="/vendor/three/DDSLoader.js"></script>

    <script type="text/javascript" src="/vendor/three/VREffect.js"></script>
    <script type="text/javascript" src="/vendor/three/VRControls.js"></script>
    <script type="text/javascript" src="/vendor/three/webvr-polyfill.js"></script>
    <script type="text/javascript" src="/vendor/three/webvr-manager.js"></script>

    <script type="text/javascript" src="/vendor/random.min.js"></script>

    <script type="text/javascript" src="/scripts/textureCache.js"></script>

    <script type="text/javascript" src="/scripts/plugin.js"></script>
    <script type="text/javascript" src="/scripts/subGraphPlugin.js"></script>

    <script type="text/javascript" src="/scripts/threeObject3dPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractThreeLoaderObjPlugin.js"></script>
    <script type="text/javascript" src="/scripts/abstractThreeMaterialPlugin.js"></script>

    <!-- next line replaced by build: -->
    <!-- {{editor.min.js}} -->

  </head>

<body class="{{extraClasses}}">
  {{{body}}}

    <script>
        {{{templateCache}}}
    </script>

</body>
</html>
