<!doctype html>
<html>
  <head id="head">
    <meta charset='utf-8' />
    <title>Vizor</title>

	<meta name="language" content="en" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <meta name="description" content="Vizor lets you create compelling VR content right in your browser" />

    <meta name="keywords" content="vizor webgl webvr virtual reality visual programming animation" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>

    <link href="/style/website.css" rel="Stylesheet" type="text/css"  />

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>

    <script>{{> ga}}</script>

  </head>

<body class="{{extraClasses}}">
  {{{body}}}
</body>
</html>
