
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="head">
		<title>{{title}}</title>
    	<link href="/vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="Stylesheet" type="text/css"  />
	    <link href="/vendor/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" rel="Stylesheet" type="text/css"  />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	    <link href="/style/player.css" rel="Stylesheet" type="text/css"  />
	    <link href="/style/vizor.css" rel="Stylesheet" type="text/css"  />

		<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/vendor/jquery.fastfix.js"></script>
		<script type="text/javascript" src="/vendor/jquery.mousewheel.js"></script>
	</head>
	<body>
		{{{body}}}

		<div class="clearfix"></div>
	</body>
</html>
