
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="head">
		<title>{{title}}</title>

	    <link href="/style/less.css" rel="Stylesheet" type="text/css"/>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

		<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
	
	    <script>{{> ga}}</script>
	</head>
	<body>
		<script type="text/javascript" src="/scripts/player.min.js"></script>
		{{{body}}}

		<div class="clearfix"></div>
	</body>
</html>
