.fundamental
{
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 10pt;
	line-height: 1.5em;
	margin-top: 10px;
}

.notification
{
	background-color: #ddd;
	border: solid 1px #ccc;
	color: #888888;
	padding: 8px;
	display: table;
	width: 600px;
}

.centered
{
	margin-left: 8px;
	margin-right: auto;
}

#content
{
	display: none;
	width: 1400px;
}

#controls
{
	width: 1024px;
}

h2
{
	font-size: 24pt;
	width: 1024px;
}

#dbg 
{
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	width: 840px;
	height: 240px;
	font-size: 8pt;
	background-color: #eee;
	overflow: scroll;
}

#main_layout
{
	text-align: left;
	vertical-align: top;
	width: 1024px;
}

#structure
{
	width: 180px;
	height: 768px;
	float: left;
	background-color: #eee;
}

#canvas_parent
{
	float: right;
	background-color: #ccc;
	width: 840px;
	height: 520px;
	z-index: 1;
	overflow: scroll;
	position: relative;
}

#canvas
{
	width: 840px;
	height: 520px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#webgl-canvas
{
	background-color: #000; 
	position: absolute; 
	left: 1036px; 
	top: 124px;
	width: 320px;
	height: 240px;
}

#persist
{
	margin-left: 5px;
	margin-top: 5px;
	position: absolute; 
	width: 316px;
	height: 516px;
	left: 1033px; 
	top: 370px;
	font-size: 8pt;
	background-color: #eee;
	white-space: pre;
	word-wrap: normal;
	overflow-y: scroll;
	overflow-x: scroll;
	font-family: monospace;
	border: none;
}

#frame
{
	border: 1px solid #aaa;
}

.plugin
{
	font-size: 8pt;
	background-color: #ff8;
	border: 1px solid #888;
	z-index: 100;
	padding: 4px;
	cursor: move;
	position: absolute;
	white-space: nowrap;
}
	
.pl_layout
{
  border-collapse: separate;
  border-spacing: 0px;
}

.pl_header
{
	background-color: #dde;
	padding: 0px;
	margin: 2px;
}

.pl_slot
{
	cursor: pointer;
}

.pui_col
{
	padding: 3px;
}

li.context-menu-item span
{
	white-space: nowrap;
}

