html, body{ height:100%; }

body {
	font-family: Tahoma, Helvetica, Arial, Sans-serif;
	line-height: 1.5em;
	font-size: 12px;
	background-color: #e2e2e2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn { /* override bootstrap style */
	border-radius: 0;
}

ol, ul
{
    list-style: none;
}

optgroup
{
	color: #fff;
	background-color: #444;
}

/* tables still need 'cellspacing="0"' in the markup */
table 
{
    border-collapse: collapse;
    border-spacing: 0;
}

.nodisplay
{
	display: none;
}

.nojs
{
	width: 500px;
	margin-left: 20px;
	margin-top: 20px;
	vertical-align: center;
}

.logo {
	padding: 6px;
	margin-top: 10px;
	width: 100%;
	font-size: 22pt;
	font-family: 'Roboto', sans-serif;
	color: #445;
	text-decoration: none;
}

.infopanelogo {
	margin-left: 90px;
}

#load-spinner
{
	min-width: 32px;
	height: 32px;
	background: url('../images/load-spinner.gif');
	margin-top: 2px;
}

#info
{
	overflow: auto;
	font-size: 18px;
	line-height: 22px;
}

#canvas-parent
{
	min-height: 270px;
}

#canvas
{
	background-color: #191a16;
	background: url('../images/vignette2.png') no-repeat;
	background-size: 100% 100%;
}

#load-snippet
{
	min-height: 40px;
}

.e_btn
{
	font-size:12px;
	font-weight:normal;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #888;
	padding:3px 4px;
	text-decoration:none;
	color:#000;
	display:inline-block;
	text-shadow:1px 48px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
	background:-moz-linear-gradient(center top, #fdfdfd 5%, #c8c8c8 100%);
	background:-ms-linear-gradient(top, #fdfdfd 5%, #c8c8c8 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #fdfdfd), color-stop(100%, #c8c8c8));
	background-color:#fdeded !important;
}

.e_btn:active
{
	background:-moz-linear-gradient(center top, #fdfdfd 100%, #c8c8c8 5%);
	background:-ms-linear-gradient(top, #fdfdfd 100%, #c8c8c8 5%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(100%, #fdfdfd), color-stop(5%, #c8c8c8));
	position:relative;
}

.plugin
{
	font-size: 8pt;
	background-color: #eee !important;
	z-index: 100;
	padding: 0px;
	cursor: move;
	position: absolute;
	white-space: nowrap;
}
	
.graph
{
	border-radius: 5px;
background: #fcf297; /* Old browsers */
background: -moz-linear-gradient(top,  #fcf297 0%, #f7c438 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf297), color-stop(100%,#f7c438)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcf297 0%,#f7c438 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcf297 0%,#f7c438 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcf297 0%,#f7c438 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #fcf297 0%,#f7c438 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf297', endColorstr='#f7c438',GradientType=0 ) !important; /* IE6-9 */

}

.proxy
{
	background: #badaff !important;
}

.register
{
	background: #c6ffc8 !important;
}


.config_btn
{
	width: 16px;
	height: 16px;
	margin: 2px;
	margin-left: 5px;
	border: 1px;
	background: url('../images/config.png') no-repeat;
	position: relative;
	left: -41px;
	top: 1px;
}

.pl_layout
{
	border-spacing: 0px;
	box-shadow: 5px 5px 80px #111;
}

.pl_title
{
	padding: 0px;
}

.pl_header
{
	color: #ccc;
	background: transparent;
	border: none;
	background: rgb(28,28,28); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(28,28,28,1) 0%, rgba(38,38,38,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,28,28,1)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(38,38,38,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(28,28,28,1) 0%,rgba(38,38,38,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

.pl_delete
{
	background: #ff3b3b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3b3b 1%, #df1b1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff3b3b), color-stop(100%,#df1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3b3b 1%,#df1b1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3b3b 1%,#df1b1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3b3b 1%,#df1b1b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3b3b 1%,#df1b1b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b3b', endColorstr='#df1b1b',GradientType=0 ); /* IE6-9 */
}

.pl_header .t
{
	padding: 0px;
	padding-left: 3px;
	padding-right: 2px;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	height: 16px;
	letter-spacing:0px;
	font-size: 11px;
}

.ic
{
	text-align: left;
	vertical-align: top;
	border: none !important;
}

.oc
{
	text-align: right;
	vertical-align: top;
	border: none !important;
}

.pl_slot
{
	cursor: pointer;
	padding: 2px;
}

.pui_col
{
	padding: 3px;
	padding-left: 2px;
	padding-right: 8px;
	border: none !important;
	vertical-align: top; 
}

.plugin-icon
{
	float: left;
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
	margin-right: 2px;
	margin-bottom: 2px;
	position: relative;
	top: 1px;
	left: 1px;
	background-color: #ddd !important;
	border: 1px solid #ddd;
	cursor: default;
}

.webgl-canvas-normal
{
	background-color: #000; 
	position: absolute; 
	width: 480px;
	height: 270px;
}

.webgl-canvas-fs
{
	background-color: #000; 
	position: absolute; 
	left: 0px; 
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.widget { font-family: Verdana,Arial,sans-serif; font-size: 1em;}
.graph-node { border: none; background: #ffffff; color: #222222; }
.state-hover, .graph-node { background: #ffffff; font-weight: normal; color: #212121; }
.state-hover a, .state-hover a:hover { color: #212121; text-decoration: none; }

.corner-all { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.corner-all { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.corner-all { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.corner-all { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

.slider { position: relative; text-align: left; border: 1px solid #888; }
.slider .slider-handle { position: absolute; z-index: 2; width: 1.4em; height: 1.4em; cursor: default; background: #bebebe; }

.slider-horizontal { height: .8em; }
.slider-horizontal .slider-handle { top: -.4em; margin-left: -.6em; }

.modal {
	position: absolute;
}

#left-nav-collapse-btn
{
	display: block;
	float: left;
	padding: .2em .25em .15em;
}

#left-nav.collapse.width
{
    min-width: 0;
    max-width: 0;
    -webkit-transition:min-width .35s ease;
    -moz-transition:min-width .35s ease;
    -o-transition:min-width .35s ease;
    transition:min-width .35s ease;
}

#left-nav.collapsing
{
    -webkit-transition:min-width .35s ease;
    -moz-transition:min-width .35s ease;
    -o-transition:min-width .35s ease;
    transition:min-width .35s ease;
}

#left-nav.collapse.width.in
{
	min-width: 315px !important;
	max-width: 315px !important;
}

.tooltip-inner {
	background-color: yellow;
	color: black;
	white-space: normal;
    z-index: 99999999;
}

.tooltip-arrow {
	border-top-color: yellow !important;
}

