body {
	display: flex;
	margin: 0;
	height: 100%;
	width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.flex-column {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.flex-row {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
}

.cell {
	flex: 1 1 auto;
	align-self: stretch;
}

.border {
  border: 2px solid #eee;
}

.header {
	min-height: 40px;
	max-height: 40px;
}

.footer {
	min-height: 20vh;
	max-height: 20vh;
}

#left-nav {
	min-width: 100px;
	max-width: 160px;
	overflow: auto;
}

#right-nav {
	max-width: 482px;
	min-width: 482px;
}

#canvas_parent {
	z-index: 1;
	overflow: scroll;
	position: relative;
	border: none;
	-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

#canvas {
	position: relative;
	z-index: 2;
}

#breadcrumb
{
	position: absolute;
	background-color: #000;
	color: #fff;
	opacity: 0.75;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	z-index: 10000;
	top: 7px;
	left: 6px;
	font-size: 10pt;
}

#snippets select {
	width: 100%;
}

#snippets-list
{
	background-color: #fff;
	border: 1px solid #ccc;
	border-right: none;
	padding: 2px;
}

#dbg
{
	font-size: 10pt;
	padding: 0;
	margin: 0;
}

