/* Reset to reasonable CSS baseline */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}

body {
	font-family: Helvetica, Arial, Sans-serif;
	line-height: 1.5em;
	font-size: 10pt;
	background-color: #e2e2e2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol, ul 
{
    list-style: none;
}

blockquote, q 
{
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus 
{
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins 
{
    text-decoration: none;
}

del 
{
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table 
{
    border-collapse: collapse;
    border-spacing: 0;
}

/* Logo font */

@font-face 
{
	font-family: 'greyscale_basic_regular';
	font-style: normal;
	font-weight: 400;
	src: local('greyscale_basic_regular'), local('greyscale_basic_regular'), url('greyscale_basic_regular.ttf') format('truetype');
}

.notification
{
	background-color: #ddd;
	border: solid 1px #ccc;
	color: #888888;
	padding: 8px;
	display: table;
	width: 600px;
}

input[type=text]
{
	background-color: #eaeaea;
	/*height: 15px;*/
	line-height: 1.0em;
}

.centered
{
	margin-left: 8px;
	margin-right: auto;
}

.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#content
{
	display: none;
	width: 100%;
	height: 46px;
	background: url('../images/topnavi_gradient.png') repeat repeat;
	margin: 0px;
	padding: 0px;
	padding-top: 4px;
}

#controls
{
	width: 1024px;
}

#logo
{
	font-size: 22pt;
	font-weight: normal;
	font-family: 'greyscale_basic_regular', sans-serif;
	margin: 0px;
	margin-top: 9px;
	float: left;
	width: 182px;
}

#dbg 
{
	margin-left: 3px;
	margin-top: 6px;
	float: left;
	width: 935px;
	height: 245px;
	font-size: 8pt;
	background-color: #fff;
	overflow: scroll;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: none;
	border-bottom: none;
	padding: 2px;
}

#main_layout
{
	text-align: left;
	vertical-align: top;
	width: 1124px;
	margin-top: 3px;
}

#structure
{
	width: 180px;
	height: 513px;
	float: left;
	background-color: #eee;
}

#info
{
	font-size: 8pt;
	margin-top: 13px;
	margin-left: 8px;
	padding: 2px;
	width: 174px;
	height: 345px;
	float: left;
	background-color: #fff;
	border: 1px dotted #ccc;
}

#breadcrumb
{
	position: absolute;
	background-color: #000;
	color: #fff;
	opacity: 0.75;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	z-index: 10000;
}

#canvas_parent
{
	float: right;
	background-color: #ccc;
	width: 940px;
	height: 620px;
	z-index: 1;
	overflow: scroll;
	position: relative;
	border: none;
	-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

#canvas
{
	width: 940px;
	height: 620px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.webgl-canvas-normal
{
	background-color: #000; 
	position: absolute; 
	left: 1136px; 
	top: 45px;
	width: 480px;
	height: 270px;
}

.webgl-canvas-fs
{
	background-color: #000; 
	position: absolute; 
	left: 0px; 
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

#load_spinner
{
	width: 32px;
	height: 32px;
	background: url('../images/load-spinner.gif');
	float: right;
	position: relative;
	top: 4px;
	display: none;
}

#tabs
{
	position: absolute;
	width: 473px;
	left: 1136px; 
	top: 318px;
}

.ui-tabs-panel
{
	padding: 5px 4px !important;
}

#graphs-list {
	font-size: 12px;
	overflow: scroll;
}

.file-list-entry:hover {
	cursor: pointer;
	background-color: #eee;
}

#filename-input
{
	border: 1px #888 solid;
	width: 100%;
	background-color: #ddd;
}

#persist-tab button {
	float: left;
}

#persist-tab label {
	white-space: nowrap;
}

#snippets-list
{
	font-family: tahoma, arial, helvetica;
	width: 465px;
	height: 500px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-right: none;
	padding: 2px;
}

#load-snippet
{
	float: left;
	margin-top: 5px;
}

#texture-image-select {
	border: 0;
}

