.footer {
  background: #808080;
  bottom: 0;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
.footer .links {
  font-size: 14px;
  line-height: 1;
  margin: 12px 0;
  text-align: center;
}
.footer .separator {
  background: #9a9a9a;
  margin: 0 6px;
}
html {
  min-height: 100%;
  position: relative;
  width: 100%;
}
body {
  padding: 0 0 78px;
  width: 100%;
}
@media (max-width: 991px) {
  .footer {
    text-align: center;
  }
  .footer-links li {
    margin: 10px 10px 0;
  }
  html {
    min-height: 0;
    position: static;
  }
  body {
    padding: 0;
  }
  .footer {
    position: static;
  }
}
.novr {
  background: #404040;
  color: #fff;
  display: none;
  line-height: 24px;
  padding: 10px 30px;
  margin-bottom: 30px;
  background: #404040;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.novr a {
  color: #000080 !important;
}
.novr img {
  margin-right: 10px;
}
.header {
  padding: 20px 0;
}
@media (max-width: 767px) {
  .novr img {
    display: block;
    margin: 0 auto 10px;
  }
}
.player-bar {
  background: #000;
  margin-top: 1px;
  padding: 10px;
}
.player-bar:before,
.player-bar:after {
  content: " ";
  display: table;
}
.player-bar:after {
  clear: both;
}
.player-bar {
  *zoom: 1;
}
.status-play .button--play {
  display: none;
}
.status-pause .button--pause {
  display: none;
}
.player button {
  border-radius: 3px;
  box-sizing: content-box;
  font-size: 12px;
  min-width: 20px;
  outline: 0 !important;
  padding: 7px 20px 5px;
  text-align: center;
}
.player button,
.player button:active,
.player button:focus,
.player button:hover {
  background: #000;
  border: 1px solid #333;
  border-color: #404040;
  color: #808080;
}
.player button:hover {
  border-color: #595959;
}
.player button:active {
  border-color: #fff;
}
.player button.button--pause,
.player button:active {
  color: #fff;
}
.experience-wrapper {
  background: #000;
}
@media (max-width: 767px) {
  .player iframe.canvas {
    height: 220px;
    width: 100%;
  }
}
.ratings {
  background: #515151;
  border-radius: 3px;
  color: #8f8f8f;
  margin-top: 30px;
  padding: 0 0 10px;
}
.ratings h5 {
  line-height: 1;
  margin: 0;
  padding: 10px 0 5px;
}
.rating-container {
  padding: 5px 15px;
}
.rating-container + .rating-container {
  margin-top: 10px;
}
.ratings button {
  border: 1px solid #000;
  border-radius: 3px 0 0 3px;
  background: transparent;
  box-sizing: content-box;
  font-size: 18px;
  line-height: 1;
  min-width: 20px;
  outline: 0 !important;
  padding: 5px 15px;
}
.ratings button + button {
  border-radius: 0 3px 3px 0;
  left: -1px;
  position: relative;
}
.ratings button.disabled {
  border-color: #333;
  color: #333;
  opacity: 1;
}
.judder button,
.nausea button {
  font-size: 14px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.ratings .count {
  margin: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .ratings button {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.stage--front {
  height: 500px;
  position: relative;
}
.stage--front canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}
.stage--front hgroup {
  margin: 0 auto;
  max-width: 100%;
  padding: 140px 0 0;
  position: relative;
  width: 410px;
}
.item {
  margin: 0 0 30px;
}
.item .title,
.item p {
  line-height: 1;
  margin: 10px 0 0;
}
.item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item img {
  height: auto;
  max-width: 100%;
  width: 432px;
}
.banner {
  background: #404040;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  color: #1a1a1a;
  font-size: 22px;
  margin: 0 0 30px;
  padding: 40px;
}
.links {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}
.links li {
  display: inline-block;
}
.separator {
  background: #404040;
  height: 1em;
  margin: 0 20px;
  position: relative;
  top: 2px;
  width: 1px;
}
@media (max-width: 991px) {
  .body-links li {
    display: block;
  }
  .body-links li + li {
    margin-top: 10px;
  }
  .links .separator {
    display: none;
  }
}
@media (min-width: 768px) {
  .item img {
    height: 192px;
    width: 345px;
  }
}
@media (min-width: 1200px) {
  .item img {
    height: 148px;
    width: 263px;
  }
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 15px;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 18px;
  margin: 0;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}
body button {
  color: #000;
}
html,
body {
  overflow-x: hidden;
}
img {
  vertical-align: middle;
}
input {
  -webkit-font-smoothing: inherit;
  font-family: inherit;
}
hr {
  background: #cacaca;
  border: 0;
  height: 1px;
  margin: 0;
  padding: 0;
}
.content-container {
  padding-bottom: 50px;
}
.thin {
  font-weight: normal;
}
form input {
  color: #000;
}
.experience-page {
  max-width: 100%;
  width: 894px;
}
.page-submit .logo {
  padding-top: 19px;
}
.page-submit h1 {
  margin: 100px 0 30px;
}
.page-submit p {
  margin-bottom: 20px;
}
.page-submit input.url {
  background-color: #808080;
  border: 2px #b3b3b3 solid;
  padding: 3px 7px;
}
