@font-face {
    font-family: dejavu;
    src: url('dejavu.ttf');
    font-weight: normal;
}

.body {
	width: 100%;
	font-family: 'dejavu' sans-serif !important;
}

.full-width {
	width: 100%;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.header-row {
	min-height: 445px;
}

.logo
{
	position: absolute;
	left: 42%;
	margin: 0 auto;
	margin-top: 80px;
	width: 200px;
	background-color: transparent; 
	z-index: 99999;
}

#webgl-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 445px;
	margin-left: 0px;
}

.installbar
{
	padding: 20px;
	height: 100px;
	background-color: #DDD; 
	line-height: 24px;
}

.installbutton {
  font-family: arial;
  font-weight: bold;
  color: #B3B3B3 !important;
  font-size: 14px;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 17px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63B8EE;
  background: linear-gradient(top,  #474742,  #000000);
  background: -ms-linear-gradient(top,  #474742,  #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#474742), to(#000000));
  background: -moz-linear-gradient(top,  #474742,  #000000);
  text-decoration: none;
}

.installbutton:hover {
  color: #000000 !important;
  background: #468CCF;
  background: linear-gradient(top,  #EDC542,  #EE6D18);
  background: -ms-linear-gradient(top,  #EDC542,  #EE6D18);
  background: -webkit-gradient(linear, left top, left bottom, from(#EDC542), to(#EE6D18));
  background: -moz-linear-gradient(top,  #EDC542,  #EE6D18);
  text-decoration: none;
}

.container {
	font-family: 'dejavu' sans-serif !important;
    font-weight: normal;
} 

h1 {
	font-size: 50px;
	font-family: 'dejavu' sans-serif !important;
    font-weight: normal;
} 

iframe {
	border: 0px;
}

