@font-face {
    font-family: dejavu;
    src: url('dejavu.ttf');
    font-weight: normal;
}

.body {
	width: 100%;
	font-family: 'dejavu' sans-serif !important;
}

.full-width {
	width: 100%;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.header-row {
	min-height: 445px;
}

.white {
	color: white;
}

.container {
	font-family: 'dejavu' sans-serif !important;
    font-weight: normal;
} 

h1 {
	font-size: 50px;
	font-family: 'dejavu' sans-serif !important;
    font-weight: normal;
} 

iframe {
	border: 0px;
}

