* {
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
}

body {
  width: 100%;
  text-rendering:optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stage--front {
  position: relative;
  width: 100%;
}

.stage--front canvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.stage--front hgroup {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 100px 0 100px 0;
  position: relative;
  width: 700px;
}

h2 {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.frontpage-text-center {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
}

.frontpage-text-center .content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.lead {
  font-size: 38px;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 114px;
  max-width: 640px;
  margin: 0 auto;
  font-weight: normal;
}

h2 a {
  font-size: 28px;
  padding: 10px 80px 12px 80px; 
  line-height: 28px;
  border-radius: 64px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#logo {
  width: 120px;
}

h2 a:hover {
  border: 3px solid white;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0,0,10,0.5);
  z-index: 11111 !important;
  width: 100%;
  height: 76px;
  text-align: center;
}

.footer-text {
  padding-top: 22px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.footer span {
  padding: 0 8px;
}


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #logo { width: 180px; }
    .lead { max-width: 480px; font-size: 52px; padding: 100px 0 140px 0; }
    h2 a { font-size: 48px; padding-top: 16px;  padding-bottom: 20px; }
    .footer { height: 140px; font-size: 46px; }
    .footer-text { padding-top: 38px; }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .lead { padding: 25px 0 60px 0; font-size: 42px; }
    h2 a { font-size: 42px; }
    .footer { font-size: 32px; }
    .footer-text { padding-top: 16px; }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #logo { width: 180px; }
    .lead { max-width: 480px; font-size: 52px; padding: 100px 0 140px 0; }
    h2 a { font-size: 48px; padding-top: 16px;  padding-bottom: 20px; }
    .footer { height: 140px; font-size: 46px; }
    .footer-text { padding-top: 38px; }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    #logo { width: 100px; }
    .lead { padding: 25px 0 60px 0; font-size: 36px; max-width: 560px; }
    h2 a { font-size: 32px; }
    .footer { font-size: 28px; }
    .footer-text { padding-top: 16px; }

}

/* ----------- iPhone 6 ----------- */


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    #logo { width: 100px; }
    .lead { padding: 25px 0 60px 0; font-size: 36px; max-width: 560px; }
    h2 a { font-size: 32px; }
    .footer { font-size: 26px; }
    .footer-text { padding-top: 20px; }

}

/* ----------- iPhone 6+ ----------- */


/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    #logo { width: 100px; }
    .lead { padding: 25px 0 60px 0; font-size: 36px; max-width: 560px; }
    h2 a { font-size: 32px; }
    .footer { font-size: 26px; }
    .footer-text { padding-top: 20px; }

}

/* Desktop */
@media (max-width: 1366px) {

    #logo { width: 90px; }
    .lead { max-width: 500px; font-size: 30px; padding: 25px 0 70px 0; }
    h2 a { font-size: 24px; padding: 8px 50px 12px 50px; }
    .footer { height: 76px; font-size: 24px; }
    .footer-text { padding-top: 22px; }

}

@media (max-width: 640px) {

    #logo { width: 90px; }
    .lead { max-width: 500px; font-size: 20px; padding: 25px 40px 30px 40px; }
    h2 a { font-size: 20px; padding: 8px 50px 12px 50px; }
    .footer { height: 76px; font-size: 18px; }
    .footer-text { padding: 16px; }

}
