<div class="flex-column shader-editor">
	<div style="width: 100%;">
		<div class="input-editor">
		</div>
	</div>

	<div class="editor" id="{{id}}" ></div>

	<div style="text-align:right">
		<label>
			<input type="checkbox" class="auto-build" checked="checked"/>
			Rebuild automatically
		</label>

		<button title="Build (Alt-Enter)" class="compile-button btn btn-xs btn-default">
			<i class="fa fa-sm fa-refresh"></i>
			<span>Build</span>
		</button>
	</div>

</div>

