<div class="stage--front">
	<canvas
		id="webgl-canvas"
		class="webgl-canvas-normal"
		width="1400px"
		height="700px"
		oncontextmenu="return false;"
		data-autoplay="true"
		data-graph-url="http://vizor.io/data/graph/fthr/pt17.min.json"
		>
	</canvas>

	<div class="frontpage-text-center">
		<div class="content">
			<img src="images/vizor_logo.svg" id="logo">
			
			<h2 class="lead">
				Build compelling VR experiences right in your browser.
			</h2>
			
			<h2 class="thin white">
				<a class="" href="/edit">Get Started</a>
			</h2>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="footer-text">
		<a href="https://www.youtube.com/channel/UClYzX_mug6rxkCqlAKdDJFQ">YouTube Tutorials</a> <span>&middot;</span>
		<a href="https://twitter.com/Vizor_VR">Twitter</a> <span>&middot;</span>
		<a href="https://github.com/vizorvr/vizor-create">GitHub</a> <span>&middot;</span>
		<a href="mailto:info@vizor.io">E-mail us</a> <span>&middot;</span>
		<a href="https://docs.google.com/document/d/1L87rs9baSoR4PfOZ2cY9BFp3Pb43y8cFvS93k1HLk60/edit?usp=sharing">Attributions</a>
		<span>&middot;</span>
		<a href="https://docs.google.com/document/d/172dcWVz8bSEDxS_y2InXpqWhVvbM7w1Z9MSp1-Lw1rIc/edit?usp=sharing">Terms & Privacy</a>
	</div>
</footer>

<script type="text/javascript">

	var $canvas = $('#webgl-canvas')
	var $window = $(window)
	var $stage = $('.stage--front')
	var footerHeight = 76

	window.Vizor = {
		hideWebVRButton: true
	}

	function onResize() {
		setTimeout(function() {
			var width = $window.width()
			var height = $window.height() - footerHeight
			var devicePixelRatio = window.devicePixelRatio || 1;
			var pixelRatioAdjustedWidth = devicePixelRatio * width;
			var pixelRatioAdjustedHeight = devicePixelRatio * height;

			$canvas[0].width = pixelRatioAdjustedWidth
			$canvas[0].height = pixelRatioAdjustedHeight
			$stage.css('width', width + 'px')
			$stage.css('height', height + 'px')

			E2.core.emit('resize')
		}, 20)
	}

	$(window).on('resize', onResize)
	$(window).on('vizorLoaded', function() {
		E2.app.calculateCanvasArea = function() {
			return {
				width: $window.width(),
				height: $window.height()
			}
		}

		onResize()
	})
</script>
