<header>
	<nav class="clearfix in" style="position:relative">
		<h1 id="brandTop" class="brandTop">
			<svg style="fill:#fff;" width="68" height="24" >
				<use xlink:href="#vizor-top-logo" />
			</svg>
		</h1>
		<div class="nomobile">
			<ul>
				<li><a class="scrollto" href="#whyusevizor">Why Vizor?</a></li>
				<li><a class="scrollto" href="#howitworks">How it works</a></li>
				<li><a class="scrollto" href="#vizorteam">Meet the team</a></li>
				<li><a href="//blog.vizor.io">Blog</a></li>
				{{#unless user.username}}

				<li class="signin nomobile">
					<a id="homeSignin" href="#/login" class="sign-btn">Sign in</a>
				</li>
				<li class="signup nomobile">
					<a class="sign-btn btn scrollto" href="#getstarted">Sign up</a>
				</li>
				{{else}}
					<li class="nomobile wider"><a class="sign-btn btn openeditor" href="/edit">Open the Editor</a></li>
				{{/unless}}
			</ul>
		</div>
		<div class="mobileonly" style="position:absolute; top:16px; right: 10px; width: 30px; height: 30px;">
			<button class="nofx" id="mobileMenuOpenButton">
				<img src="/images/home/xmenu.png" width="22" height="32" alt="" />
			</button>
		</div>
	</nav>
</header>

<!-- main content -->
	{{> srv/home/createAndShareVR }}
	<div class="scrolldownContainer">
		<a class="nofx scrollto noselect" href="#whyusevizor"><img src="/images/home/oval_arrow.svg" class="scrolldownPrompt"/></a>
	</div>
	{{> srv/home/whyUseVizor }}
	{{> srv/home/howItWorks }}
	{{> srv/home/meetTheTeam }}

	{{> srv/home/getStarted }}
	{{> srv/home/getNewsletter }}
<!-- /main content -->


<footer class="dark">
	<div class="in clearfix">
		<h6 id="footerBrand">
			<a href="#contentwrap" class="nofx scrollto" style="display: block; height: 100%">
				<span>Vizor VR</span>
				<p>Create & Share VR content on the Web</p>
			</a>
		</h6>
		<div class="flexcolumns">
			<ul>
				<li><a class="email" href="mailto:info@vizor.io?subject=hello" target="_blank" title="Email us">Email us</a></li>
				<li><a class="twitter" href="https://twitter.com/Vizor_VR" target="_blank" title="Follow us">@Vizor_VR</a></li>
				<li><a class="github" href="https://github.com/vizorvr/vizor" target="_blank" title="GitHub">Vizor on GitHub</a></li>
			</ul>
			<ul>
				<li><a class="angellist" href="https://angel.co/vizor" target="_blank" title="Vizor on Angellist">Vizor on Angellist</a></li>
				<li><a class="vizor editor" href="/edit" title="Open the Editor">Open the editor</a></li>
				<li><a class="vizor player" href="/graph/latest" title="View latest graph">View latest Graph</a></li>
			</ul>
			<ul>
				<li><a class="" href="//blog.vizor.io" target="_blank" title="Blog">Blog</a></li>
				<li><a class="googledocs legal terms" href="https://docs.google.com/document/d/172dWVz8bSEDxS_y2InXpqWhVvbM7w1Z9MSp1-Lw1rIc/edit?usp=sharing" target="_blank" title="Terms & Privacy">Terms & Privacy</a></li>
				<li><a class="googledocs legal" href="https://docs.google.com/document/d/1L87rs9baSoR4PfOZ2cY9BFp3Pb43y8cFvS93k1HLk60/edit?usp=sharing" target="_blank" title="Attribution">Attribution</a></li>
			</ul>
		</div>
	</div>
</footer>
