

<!-- THIS VIEW IS UNUSED -->
{{!--

{{> srv/siteSvgSprite}}
{{> srv/editorSvgSprite}}

<div id="drop-zone"></div>

<div id="threesixty-ui-container">
	<div id="threesixty-lander-header">
		<h1>Simple 360 VR photo sharing</h1>
		<p>Drag and drop a 360 photo anywhere to share it</p>
	</div>

	<div id="threesixty-logo">
		<h2>ThreeSixty°</h2>
	</div>

	<input id="threesixty-image-input" type="file" name="image" accept="image/*;capture=camera" capture="true" />
</div>

	<div id="progress-container">
  	    <progress id="progressbar" max="100"></progress>
	</div>

	<div id="button-container">
		<button class="round-transparent" id="btn-cancel" type="button">Cancel</button>
	</div>

<div id="drop-overlay"><svg class="icon-upload" style='fill: #fff; stroke: #fff'><use xlink:href="#icon-upload"></use></svg></div>

--}}