<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{css 'vizor2teaser'}}}
    <title>Vizor</title>
</head>
<body>
    <section class="hero section">
        <script src="//360.vizor.io/scripts/embed.js" data-vizorurl="//360.vizor.io/embed/matt/arctic?autoplay=true&noheader=true" ></script>
        <div class="hero__content section__wrapper">
            <svg class="hero__logo" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Mobile-Portrait" transform="translate(-39.000000, -38.000000)" fill="#FFFFFF">
                        <g id="Mark-only-Copy" transform="translate(39.000000, 38.000000)">
                            <path d="M16,0 C7.17753252,0 0,7.17763832 0,16 C0,24.8224675 7.17753252,32 16,32 C24.8224675,32 32,24.8224675 32,16 C32,7.17763832 24.8224675,0 16,0 L16,0 Z M23.0044372,4.74943626 L20.2181943,9.62541412 C20.0357882,9.60975513 19.8516892,9.60002116 19.6651568,9.60002116 L12.3347374,9.60002116 C12.1483108,9.60002116 11.964106,9.60975513 11.7816999,9.62541412 L8.99545704,4.74943626 C11.0293275,3.47862428 13.4301264,2.74286319 16,2.74286319 C18.5698736,2.74286319 20.9706725,3.47862428 23.0044372,4.74943626 L23.0044372,4.74943626 Z M19.6651568,19.6571157 L12.3347374,19.6571157 C10.3226626,19.6571157 8.6856629,18.0165187 8.6856629,16 C8.6856629,13.9834813 10.3226626,12.3428843 12.3347374,12.3428843 L19.6651568,12.3428843 C21.6773374,12.3428843 23.3142313,13.9834813 23.3142313,16 C23.3142313,18.0165187 21.6773374,19.6571157 19.6651568,19.6571157 L19.6651568,19.6571157 Z M2.74275738,16 C2.74275738,12.254538 4.3045304,8.86732838 6.8104984,6.45404469 L9.10845572,10.4754436 C7.21488133,11.5863857 5.94279971,13.6438505 5.94279971,16 C5.94279971,18.3514942 7.21551616,20.4106518 9.10930216,21.5230752 L6.8104984,25.5460611 C4.3045304,23.1327774 2.74275738,19.7455678 2.74275738,16 L2.74275738,16 Z M8.99545704,27.2505637 L11.7818057,22.3745859 C11.9642118,22.3902449 12.1483108,22.3999788 12.3347374,22.3999788 L19.6651568,22.3999788 C19.8516892,22.3999788 20.0357882,22.3902449 20.2181943,22.3746917 L23.0044372,27.2505637 C20.9706725,28.5213757 18.5698736,29.2571368 16,29.2571368 C13.4301264,29.2571368 11.0293275,28.5213757 8.99545704,27.2505637 L8.99545704,27.2505637 Z M25.1893958,25.5460611 L22.8914385,21.5245564 C24.7851187,20.4136143 26.0570945,18.3562553 26.0570945,16 C26.0570945,13.6485058 24.7844838,11.5893482 22.890592,10.4769248 L25.1893958,6.45404469 C27.6954696,8.86732838 29.2571368,12.254538 29.2571368,16 C29.2571368,19.7455678 27.6953638,23.1327774 25.1893958,25.5460611 L25.1893958,25.5460611 Z" id="Fill-7"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <h1 class="hero__title h1">Build the Immersive Web with Vizor</h1>
            <p class="hero__body">
                Create 360 tours, stories, sites and WebVR experiences as easy as drag and drop.
            </p>
            <button class="hero__scroll-down scroll-down-button">
                <svg class="scroll-down-button__icon" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="View" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Mobile-Portrait" transform="translate(-40.000000, -324.000000)" stroke="#FFFFFF">
                            <g id="Arrow-icon-Mobile" transform="translate(40.000000, 324.000000)">
                                <g id="Group-2-Copy" transform="translate(16.000000, 16.000000) rotate(-270.000000) translate(-16.000000, -16.000000) ">
                                    <ellipse id="Oval" stroke-width="2" cx="16" cy="16" rx="15" ry="15"></ellipse>
                                    <g id="Group" transform="translate(6.857143, 6.857143)" stroke-width="2">
                                        <g id="Group-2">
                                            <path d="M0,9 L17.0666667,9" id="Line-Copy" stroke-linecap="square"></path>
                                            <polyline id="Rectangle-5" transform="translate(9.633145, 9.208875) rotate(-45.000000) translate(-9.633145, -9.208875) " points="16.0331451 2.80887515 16.0331451 15.6088752 3.23314505 15.6088752"></polyline>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="scroll-down-button__label">Show more</span>
            </button>
        </div>
    </section>

    <section class="section introduction">
        <div class="section__wrapper">
            <p class="kicker">Introducing the Vizor 360 beta</p>
            <h2 class="h2">Dead simple WebVR.<br>Drag, drop, publish.</h2>
            <img class="introduction__screenshot" src="/images/vizor2-teaser/editor-screenshot.png" alt="" />
        </div>
    </section>

    <section class="section register">
        <div class="section__wrapper">
            <p class="kicker">Beta test vizor 360</p>
            <h2 class="h2">Like a test drive?<br>Register now.</h2>
            <form action="//vizor.us9.list-manage.com/subscribe/post?u=18aabb3ca7b701a5acacc8aca&amp;id=97a6941be8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="register__form" target="_blank" novalidate>
                <div class="register__email-container">
                	<input type="email" placeholder="Email Address" value="" name="EMAIL" class="register__email text-input" id="mce-EMAIL">
                    <p class="register__hint">We will not send you any spam, bacon nor any other pork products.</p>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18aabb3ca7b701a5acacc8aca_97a6941be8" tabindex="-1" value=""></div>
                <button class="register__submit button">Register</button>
            </div>
        </div>
    </section>

    <footer class="footer section">
        <div class="section__wrapper footer__wrapper">
            <ul class="footer__link-list">
                <li class="footer__link-list-item"><a href="https://vizorvr.herokuapp.com/" target="_blank">Public Slack</a></li>
                <li class="footer__link-list-item"><a href="https://twitter.com/Vizor_VR" target="_blank">Twitter</a></li>
                <li class="footer__link-list-item"><a href="https://www.facebook.com/vrvizor" target="_blank">Facebook</a></li>
                <li class="footer__link-list-item"><a href="https://github.com/vizorvr/vizor" target="_blank">Github</a></li>
                <li class="footer__link-list-item"><a href="mailto:info@vizor.io?subject=hello">Email</a></li>
                <li class="footer__link-list-item"><a href="/about">Company Info</a></li>
                <li class="footer__link-list-item"><a href="https://angel.co/vizor" target="_blank">Jobs</a></li>
            </ul>
            <p class="footer__info">
                Our visual programming tool is now called <strong>Patches</strong>, and it lives <a href="https://patches.vizor.io">here</a>.
            </p>
        </div>
    </footer>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/vizor2Teaser.js"></script>
</body>
</html>
