<footer class="dark">
    <nav class="in links">
        <a href="edit/" class="nomobile navEdit">Try the editor</a>
        <a href="/about" class="navAbout">About <span class="nomobile">us</span></a>
        <a href="http://blog.vizor.io" target="_blank">Tutorials</a>
        <a class="googledocs legal terms" href="https://docs.google.com/document/d/172dWVz8bSEDxS_y2InXpqWhVvbM7w1Z9MSp1-Lw1rIc/edit?usp=sharing" target="_blank">Terms</a>
        <a class="googledocs legal" href="https://docs.google.com/document/d/1L87rs9baSoR4PfOZ2cY9BFp3Pb43y8cFvS93k1HLk60/edit?usp=sharing" target="_blank">Attribution</a>
    </nav>
    <nav class="in icons">
        <a class="btn svg tiny nopopup email" href="mailto:info@vizor.io?subject=hello" data-svgref="icon-email">Email us</a>
        <a class="btn svg tiny nopopup twitter" href="https://twitter.com/Vizor_VR" data-svgref="icon-twitter2">@Vizor_VR on Twitter</a>
        <a class="btn svg tiny nopopup facebook" href="https://www.facebook.com/vrvizor" data-svgref="icon-facebook">Vizor on Facebook</a>
        <a class="btn svg tiny nopopup github" href="https://github.com/vizorvr/vizor" target="_blank" data-svgref="icon-github">Vizor on GitHub</a>
        <a class="btn svg tiny nopopup angellist" href="https://angel.co/vizor" data-svgref="icon-angellist" target="_blank">Vizor on Angellist</a>
    </nav>

    <h6 id="brandBottom">
        <span>Explore VR on the Web</span>
        <a class="scrollto" href="#top_"><svg height="32" width="32" style="fill:#c3c3c3;"><use xlink:href="#vizor-mark"></use></svg></a>
    </h6>
</footer>