<section id="presskit" class="about-press">
    <div class="in">
        <h2>Press</h2>
        <p class="intro">
            If you would like to feature Vizor on the web or in print, please use the logo assets provided below.
            Please avoid wild photoshoppery and don’t forget the whitespace :)
        </p>
        <div class="featured downloads">
            <div class="download">
                <a href="/presskit/Vizor_Mark_only.png" class="svg download" data-svgref="download-icon-big">
                    <svg />
                    <span>Mark Only</span>
                </a>
                <a href="/presskit/Vizor_Mark_only.png">PNG</a>
                <a href="/presskit/Vizor_Mark_only.svg">SVG</a>
            </div>

            <div class="download">
                <a href="/presskit/Vizor_Logo%2BMark.png" class="svg download" data-svgref="download-icon-big">
                    <svg />
                    <span>Mark + Logotype</span>
                </a>
                <a href="/presskit/Vizor_Logo%2BMark.png">PNG</a>
                <a href="/presskit/Vizor_Logo%2BMark.svg">SVG</a>
            </div>

            <div class="download">
                <a href="/presskit/Vizor_Reversed_Logotype.png" class="svg download" data-svgref="download-icon-big">
                    <svg />
                    <span>Reversed Logotype</span>
                </a>
                <a href="/presskit/Vizor_Reversed_Logotype.png">PNG</a>
                <a href="/presskit/Vizor_Reversed_Logotype.svg">SVG</a>
            </div>

            <div class="download">
                <a href="/presskit/Vizor_Mark_Reversed.png" class="svg download" data-svgref="download-icon-big">
                    <svg />
                    <span>Reversed Mark</span>
                </a>
                <a href="/presskit/Vizor_Mark_Reversed.png">PNG</a>
                <a href="/presskit/Vizor_Mark_Reversed.svg">SVG</a>
            </div>
        </div>
    </div>
</section>