<section id="aboutIntro">
    <div class="in">
        <section id="aboutEmbed">
            <script src="/scripts/embed.js" data-aspect="0.95" data-vizorurl="/embed/matt/hmd-bake-spinner?autoplay=true&noheader=true"></script>
        </section>
        <h1>About Vizor</h1>
        <div>
            <p>
                Vizor is a platform for exploring, creating, and publishing virtual reality on the web.
                Discover 360 and 3D content in VR on your phone, or in 2D on your web browser or tablet.
            </p>
            <p>
                Go one step further and create and share your own with 360 photos, sound, images, and your own 3D models.
            </p>
            <a class="cta launch-button btn nomobile" href="/edit">Try the editor</a>
        </div>
    </div>
</section>