<section id="createandsharevr">
	<div class="in">
		<img class="hero" src="/images/home/screenshot1.png" width="810"  alt="Vizor Patch Editor" />
		<h2>Create and share VR
			in your browser</h2>
		<div class="text nomobile">
			<p class="nomobile">
				You don’t need to be a game developer to create VR content on the web.
				With Vizor's visual editor, anyone can create and share their own VR experiences in  a web browser, and it’s free.
			</p>
			<div>
				<a class="launch-button btn action nomobile" href="/edit">Try the Beta</a>
				{{#unless user.username}}
				<a class="launch-button btn action nomobile scrollto" href="#getstarted">Sign up</a>
				{{else}}
				<div style="height:80px">&nbsp;<!--deadspace--></div>
				{{/unless}}
			</div>
		</div>
		<a class="launch-button btn action mobileonly scrollto" href="#getnewsletter">Get our newsletter</a>
	</div>
</section>