<section id="getnewsletter" class="contentcontainer mobileonly">
	<div class="in">
		<h2>Learn More</h2>

		<div style="max-width:500px; margin:0 auto; ">
			<!-- pre-line P -->
			<p>Stay up to date with Vizor &mdash;
				sign up for our newsletter.</p>
			{{> mailinglist }}
		</div>
	</div>
</section>