<section id="getnewsletter" class="contentcontainer">
	<div class="in">
	<h1 class="decorative light">
		<span>Learn More</span>
	</h1>

	<div style="max-width:500px; margin:0 auto">
		<p>
			Stay up to date with Vizor &mdash; sign up for our newsletter.
		</p>

		{{> mailinglist }}
	</div>

	</div>
</section>