<section id="getstarted" class="contentcontainer nomobile" style="position:relative;">
	<div class="twocol clearfix in" style="z-index:10">
		<h1 class="decorative light">
			<span>Get Started with Vizor</span>
		</h1>
		{{#if user.username}}
			<div class="flexcenter" style="height:400px; margin:0 auto;">
				<a class="btn svg action launch-button openeditor nomobile" style="max-width:400px" href="/edit">
					Open the Editor
				</a>
			</div>
		{{else}}
			<div class="col left">
					{{> account/signup }}
			</div>
			<div class="col right">
				<img src="/images/home/flamingo.png" width="242" height="260" class="novr mobileonly" />
			</div>
		{{/if}}
	</div>
	<div id="player_home" style="position:absolute; top:0; left:0;bottom:0; right:0; z-index:1;">{{!-- ff requires z 0 --}}
		{{> playerCanvas width="100%" height="100%" graphSrc="/data/graph/eesn/flamingofront.json" }}
	</div>
</section>