<section id="featuredVR">
    <div class="in">
        <h2>Example Projects</h2>
        <div>
        {{#with featured}}
            <div class="mobileslides">
                {{>browse/graphList list=_patches}}
            </div>
        {{/with}}
        </div>

        <p class="more">
            <a href="/browse" class="cta btn wide">More Projects</a>
        </p>
    </div>
</section>

<section id="homeIntro2" class="mobileonly">
    <p>
        Patches offers a UI to the popular <a href='https://threejs.org' target='_blank'>Three.js</a> library. The tech
        behind  Patches is now used to power <a href='http://vizor.io'>Vizor.io</a>,
        but Patches as a product is not currently under regular
        development. If you find it useful, and would like to contribute,
        please feel free to do so on our <a href='https://github.com/vizorvr/vizor' target='_blank'>Github</a>.
    </p>
</section>