<section id="getstarted" class="contentcontainer" style="position:relative;">
	<div id="player_home" style="position:absolute; top:0; left:0;bottom:0; right:0; z-index:1;">{{!-- ff requires z 0 --}}
		{{> playerCanvas width="100%" height="100%" graphSrc="/data/graph/eesn/flamingofront.json" autoplay="true" }}
	</div>

    <div id="herotext">
        <div>
            <h1>Explore VR on the Web</h1>
            <a href="#featuredVR" class="scrollto btn cta">Start Exploring</a>
            <a href="/edit/" class="btn cta nomobile">Try the editor</a>
        </div>
	</div>
</section>