<section id='homeVizor360'>
    <div class="in">
        <h2>Drag and Drop WebVR</h2>
        <p>
            Looking for a streamlined, simple way to build immersive web experiences?<br />
            Check out <a href="//vizor.io/">Vizor 360</a>.
        </p>
    </div>
</section>