<section id='homeVizor360'>
    <div class="in">
        <h2>Drag and Drop WebVR</h2>
        <p>
            Looking for a streamlined, simple way to build immersive web experiences?<br />
            <a href="//vizor.io/"> Check out Vizor 360</a>.
        </p>

        <img src='/images/v2/vizor360-editor.png' width='952' alt='Vizor 360 editor' />
    </div>
</section>