{{#*inline 'featured'}}
    <h2 class="in">{{title}}</h2>
    <div class="mobileslides in">
        <div class="side-by-side">
            {{#each scenes }}
                {{> browse/graphSmall this }}
            {{/each}}
        </div>
    </div>
{{/inline}}

<section id="featuredVR">
    {{#with featured}}
        {{> featured scenes=threesixty  title='360 Photos' }}
        {{> featured scenes=threedscenes title='3D Scenes' }}
        {{> featured scenes=architecture title='Architecture & Interiors' }}
        {{> featured scenes=experiments  title='Visual Experiments' }}
        {{> featured scenes=interactive  title='Interactive WebVR' }}
    {{/with}}
</section>