<section id="featuredVR">
    <h2>360 Photos</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Robot vs Rocket man 4"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/robot-vs-rocket-man-4-preview-440x330.png"
                path="/eesn/robot-vs-rocket-man-4"}}

            {{> browse/graphSmall
                graphName="Defolt"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/defolt-preview-440x330.png"
                path="/eesn/defolt"}}

            {{> browse/graphSmall
                graphName="One Two Three"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/one-two-three-preview-440x330.png"
                path="/eesn/one-two-three"}}
        </div>
    </div>

    <h2>3D Scenes</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="One Two Three"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/one-two-three-preview-440x330.png"
                path="/eesn/one-two-three"}}

            {{> browse/graphSmall
                graphName="Robot vs Rocket man 4"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/robot-vs-rocket-man-4-preview-440x330.png"
                path="/eesn/robot-vs-rocket-man-4"}}

            {{> browse/graphSmall
                graphName="Defolt"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/defolt-preview-440x330.png"
                path="/eesn/defolt"}}
        </div>
    </div>


    <h2>Architecture &amp; Interiors</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Robot vs Rocket man 4"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/robot-vs-rocket-man-4-preview-440x330.png"
                path="/eesn/robot-vs-rocket-man-4"}}

            {{> browse/graphSmall
                graphName="Defolt"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/defolt-preview-440x330.png"
                path="/eesn/defolt"}}

            {{> browse/graphSmall
                graphName="One Two Three"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/one-two-three-preview-440x330.png"
                path="/eesn/one-two-three"}}
        </div>
    </div>

    <h2>Visual Experiments</h2>
     <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Defolt"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/defolt-preview-440x330.png"
                path="/eesn/defolt"}}

            {{> browse/graphSmall
                graphName="One Two Three"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/one-two-three-preview-440x330.png"
                path="/eesn/one-two-three"}}

            {{> browse/graphSmall
                graphName="Robot vs Rocket man 4"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/robot-vs-rocket-man-4-preview-440x330.png"
                path="/eesn/robot-vs-rocket-man-4"}}
        </div>
    </div>

    <h2>Interactive WebVR</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Robot vs Rocket man 4"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/robot-vs-rocket-man-4-preview-440x330.png"
                path="/eesn/robot-vs-rocket-man-4"}}

            {{> browse/graphSmall
                graphName="Defolt"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/defolt-preview-440x330.png"
                path="/eesn/defolt"}}

            {{> browse/graphSmall
                graphName="One Two Three"
                graphOwner="Georgi Marinov"
                graphOwnerLink="/eesn"
                previewUrlSmall="/data/previews/eesn/one-two-three-preview-440x330.png"
                path="/eesn/one-two-three"}}
        </div>
    </div>

</section>
