<section id="featuredVR">
    <h2>360 Photos</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Kingston from Port Royal"
                graphOwner="Anna Rosa Lappalainen"
                graphOwnerLink="//vizor.io/annarosa"
                previewUrlSmall="//vizor.io/data/previews/annarosa/kingston_from_port_royal2-preview-440x330.png"
                path="//vizor.io/annarosa/kingston_from_port_royal2"}}

            {{> browse/graphSmall
                graphName="India 3"
                graphOwner="India"
                graphOwnerLink="//vizor.io/india"
                previewUrlSmall="//vizor.io/data/previews/india/india3-preview-440x330.png"
                path="//vizor.io/india/india3"}}

            {{> browse/graphSmall
                graphName="India 9"
                graphOwner="India"
                graphOwnerLink="//vizor.io/india"
                previewUrlSmall="//vizor.io/data/previews/india/india9-preview-440x330.png"
                path="//vizor.io/india/india9"}}
        </div>
    </div>

    <h2>3D Scenes</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Space Adventure"
                graphOwner="Jeremy"
                graphOwnerLink="//vizor.io/edelblut"
                previewUrlSmall="//vizor.io/data/previews/edelblut/space-adventure-preview-440x330.png"
                path="//vizor.io/edelblut/space-adventure"}}

            {{> browse/graphSmall
                graphName="Mountain Top 02"
                graphOwner="Jeremy"
                graphOwnerLink="//vizor.io/edelblut"
                previewUrlSmall="//vizor.io/data/previews/edelblut/mountain_top_wip_02-preview-440x330.png"
                path="//vizor.io/edelblut/mountain_top_wip_02"}}

            {{> browse/graphSmall
                graphName="Lab with some characters"
                graphOwner="Jeremy"
                graphOwnerLink="//vizor.io/edelblut"
                previewUrlSmall="//vizor.io/data/previews/edelblut/lab_with_some_characters-preview-440x330.png"
                path="//vizor.io/edelblut/lab_with_some_characters"}}

        </div>
    </div>

    <h2>Architecture &amp; Interiors</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Midtown Manhattan Flythrough 3"
                graphOwner="fthr"
                graphOwnerLink="//vizor.io/fthr"
                previewUrlSmall="//vizor.io/data/previews/fthr/midtown-manhattan-flythrough-3-preview-440x330.png"
                path="//vizor.io/fthr/midtown-manhattan-flythrough-3"}}

            {{> browse/graphSmall
                graphName="Blending"
                graphOwner="G Wilson"
                graphOwnerLink="//vizor.io/tastychicken"
                previewUrlSmall="//vizor.io/data/previews/tastychicken/blending-preview-440x330.png"
                path="//vizor.io/tastychicken/blending"}}

            {{> browse/graphSmall
                graphName="3D File"
                graphOwner="G Wilson"
                graphOwnerLink="//vizor.io/tastychicken"
                previewUrlSmall="//vizor.io/data/previews/tastychicken/3d_file-preview-440x330.png"
                path="//vizor.io/tastychicken/3d_file"}}

        </div>
    </div>

    <h2>Visual Experiments</h2>
     <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Snoop Space 2"
                graphOwner="fthr"
                graphOwnerLink="//vizor.io/fthr"
                previewUrlSmall="//vizor.io/data/previews/fthr/snoop-space-2-preview-440x330.png"
                path="//vizor.io/fthr/snoop-space-2"}}

            {{> browse/graphSmall
                graphName="Exploding Rocket 5"
                graphOwner="fthr"
                graphOwnerLink="//vizor.io/fthr"
                previewUrlSmall="//vizor.io/data/previews/fthr/exploding-rocket-5-preview-440x330.png"
                path="//vizor.io/fthr/exploding-rocket-5"}}

            {{> browse/graphSmall
                graphName="Just a Doodle 01"
                graphOwner="Jeremy"
                graphOwnerLink="//vizor.io/edelblut"
                previewUrlSmall="//vizor.io/data/previews/edelblut/just_a_doodle_01-preview-440x330.png"
                path="//vizor.io/edelblut/just_a_doodle_01"}}


        </div>
    </div>

    <h2>Interactive WebVR</h2>
    <div class="mobileslides">
        <div class="side-by-side">
            {{> browse/graphSmall
                graphName="Planet Viewer"
                graphOwner="Matt"
                graphOwnerLink="//vizor.io/matt"
                previewUrlSmall="//vizor.io/data/previews/matt/planet-viewer-preview-440x330.png"
                path="//vizor.io/matt/planet-viewer"}}

            {{> browse/graphSmall
                graphName="Glorian Kulisseissa"
                graphOwner="Gloria"
                graphOwnerLink="//vizor.io/gloria"
                previewUrlSmall="//vizor.io/data/previews/gloria/glorian-kulisseissa-preview-440x330.png"
                path="//vizor.io/gloria/glorian-kulisseissa"}}

            {{> browse/graphSmall
                graphName="Rocket Launcher v2"
                graphOwner="Matt"
                graphOwnerLink="//vizor.io/matt"
                previewUrlSmall="//vizor.io/data/previews/matt/rocket-launcher-v2-preview-440x330.png"
                path="//vizor.io/matt/rocket-launcher-v2"}}

        </div>
    </div>

</section>
