<section id='homeIntro'>
    <img class='hero' src='/images/v2/patches-ui.png' alt='Patches interface' />

    <div class='cols-flex in'>
        <div class='col left'>
            <h3 class='nomobile'>What is it ?</h3>
            <p>
                Patches is a visual programming editor for building
                WebVR and WebGL experiences. With over 350 patches,
                ranging from low level programming, loops, variables
                and arrays to colour pickers and interaction triggers,
                Patches is a powerful and flexible modular system for
                building complex webVR projects.
            </p>
        </div>
        <div class='col right nomobile'>
            <h3 class='nomobile'>Can I use it for my project ?</h3>
            <p>
                Patches is free to use, released under an <a href='https://github.com/vizorvr/vizor/blob/develop/LICENSE' target='_blank'>MIT licence</a>.  
                It offers a UI to the popular <a href='https://threejs.org' target='_blank'>Three.js</a> library. The tech
                behind  Patches is now used to power <a href='http://vizor.io'>Vizor.io</a>,
                 but Patches as a product is not currently under regular
                development. If you find it useful, and would like to contribute,
                please feel free to do so on our <a href='https://github.com/vizorvr/vizor' target='_blank'>Github</a>.
            </p>
        </div>
    </div>
</section>