<section id="featuredVR">
    <div class="in">
        <h2>Example Projects</h2>
        <div>
        {{#with featured}}
            <div class="mobileslides">
                {{>browse/graphList list=_patches}}
            </div>
        {{/with}}
        </div>

        <p class="more">
            <a href="/browse" class="cta btn wide">More Projects</a>
        </p>
    </div>
</section>