<section id="howitworks">
	<div class="in">
		<h2>How it Works</h2>
		<img class="nomobile notablet" src="/images/home/patches.png" width="430" height="462" alt="Vizor patching interface" />
		<img class="nomobile nodesktop hero" src="/images/home/patches_tablet.png" width="683" alt="Vizor patching interface" />
		<img class="mobileonly nodesktop" src="/images/home/patches_mobile.png" width="291"  alt="Vizor patching interface" />

		<div class="text">
			<h3 class="readmore mobileonly"><a href="#howitworksCollapse">Read More</a></h3>
			<div class="nomobile" id="howitworksCollapse">
				<p>
					Vizor is a platform that allows you to create and publish WebVR content.<br />
					It comes with a 3D editor to set up your scenes built on the popular open source project
					<a class="nofx" href="http://threejs.org/" target="_blank">three.js</a>,
					and a visual patch editor to style and control them.
				</p>
				<p>Upload 3D models, add text, interaction, animation and effects by connecting the
					relevant patches. Put on your headset to view your work.
					Collaborate with others as you build and publish your scenes to share with the world.
				</p>
			</div>
			<h3 class="readmore mobileonly">
				<a href="https://www.youtube.com/watch?v=l8ZnWT-ydqg" target="_blank" class="mobileonly">Watch a tutorial</a>
			</h3>
		</div>

		<ul class="cta nomobile">
			<li><a href="/edit">Try the Beta</a></li>
			<li><a class="youtube popup embed" href="https://www.youtube.com/embed/l8ZnWT-ydqg?rel=0" >Watch a Tutorial</a></li>
		</ul>
	</div>
</section>