<section id="vizorteam" class="about-team">
	<div class="in">
		<h2>Meet the Team</h2>
		<div class="team-container">
			<div class="team-member">
				<div class="member-pic">
					<img src="/images/home/antti.jpg" alt="View info" />
					<div class="pic-rollover">
						<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
					</div>
				</div>
				<h4><a href="https://fi.linkedin.com/in/anttijadertpolm" target="_blank" title="View info" class="person-name profile-link">Antti Jäderholm</a></h4>
				<span class="person-position">CEO</span>
			</div>
            <div class="team-member">
				<div class="member-pic">
					<img src="/images/home/annarosa.jpg" alt="View info" />
					<div class="pic-rollover">
						<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
					</div>
				</div>
				<h4><a href="https://linkedin.com/in/annarosa" target="_blank" title="View info" class="person-name profile-link">Anna Rosa Lappalainen</a></h4>
				<span class="person-position">COO</span>
			</div>
			<div class="team-member">
				<div class="member-pic">
					<img src="/images/home/jaakko.jpg" alt="View info" />
					<div class="pic-rollover">
						<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
					</div>
				</div>
				<h4><a href="http://linkedin.com/in/kschzt" target="_blank" title="View info" class="person-name profile-link">Jaakko Manninen</a></h4>
				<span class="person-position">CTO</span>
			</div>
			<div class="team-member">
				<div class="member-pic">
					<img src="/images/home/kaarlo.jpg" alt="View info" />
					<div class="pic-rollover">
						<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
					</div>
				</div>
				<h4><a href="http://linkedin.com/in/kaarlo" target="_blank" title="View info" class="person-name profile-link">Kaarlo Kananen</a></h4>
				<span class="person-position">VP Product Development</span>
			</div>
			<div class="team-member">
				<div class="member-pic">
					<img src="/images/home/matt.jpg" alt="View info" />
					<div class="pic-rollover">
						<svg class="icon"><use xlink:href="#icon-www"></use></svg>
					</div>
				</div>
				<h4><a href="http://www.idealogue.io/" target="_blank" title="View info" class="person-name profile-link">Matt Innes</a></h4>
				<span class="person-position">Creative Director</span>
			</div>
			<div class="team-member">
				<div class="member-pic">
					<img src="/images/home/georgi.jpg" alt="View info" />
					<div class="pic-rollover">
						<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
					</div>
				</div>
				<h4><a href="http://linkedin.com/in/gmarinov" target="_blank" title="View info" class="person-name profile-link">Georgi Marinov</a></h4>
				<span class="person-position">Frontend Lead</span>
			</div>
            <div class="team-member">
				<div class="member-pic">
					<img src="/images/home/sakari.jpg" alt="View info" />
					<div class="pic-rollover">
						<svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
					</div>
				</div>
				<h4><a href="https://fi.linkedin.com/in/indigineous" target="_blank" title="View info" class="person-name profile-link">Sakari Lehtonen</a></h4>
				<span class="person-position">Senior Software Developer</span>
			</div>
		</div>
	</div>
</section>