<section id="whyusevizor">
	<h1 class="decorative light">
		<span>Why use Vizor?</span>
	</h1>
	<div class="twocol clearfix in">
		<div class="col left protrudeimg clearfix">
			<img src="/images/home/screenshot2.png" width="908" height="550" alt="Vizor Player" />
		</div>
		<div class="col right">
			<a href="#webNativeDiv" class="mobileonly readmore">Web Native</a>
			<div id="webNativeDiv" class="nomobile">
				<h2>Web Native</h2>
				<p>
					All you need is a VR capable browser and a headset, although you can use Vizor without one.
					There is no need to download and install large native applications.
				</p>
			</div>
			<a href="#collaborativeDiv" class="mobileonly readmore">Collaborative</a>
			<div id="collaborativeDiv" class="nomobile">
				<h2>Collaborative</h2>
				<p>
					Collaborate with friends or colleagues anywhere in the world –
					or at the next desk with Vizor’s multi-user editing. Use multiple devices to edit, and view your work in VR.
				</p>
			</div>
		</div>
	</div>
	<div class="twocol clearfix in">
		<div class="col left">
			<a href="#friendlyDiv" class="mobileonly readmore">Friendly</a>
			<div id="friendlyDiv" class="nomobile">
				<h2>Friendly</h2>
				<p>
					Vizor has a built in chat platform where other users are always ready
					to lend you a hand if you need help. Paste a link to your work into the chat
					and watch as others show you how to solve your problems.
				</p>
				<img class="mobileonly" src="images/home/chat.png" width="254" height="281" alt="Vizor chat window" />
			</div>
		</div>
		<div class="col right">
			<img class="nomobile" src="images/home/chat.png" width="254" height="281" alt="Vizor chat window" />
		</div>
	</div>
</section>