<section id="whyusevizor">
	<div class="in">
		<h2>Why use Vizor?</h2>
		<img class="hero" src="/images/home/screenshot2.png" width="908" alt="Vizor Player" />
		<div class="clearfix">
			<div id="why1">
				<h3 class="readmore"><a href="#rmWebNative">Web Native</a></h3>
				<p id="rmWebNative" class="nomobile">
					All you need is a VR capable browser and a headset, although you can use Vizor without one.
					There is no need to download and install large native applications.
				</p>
			</div>
			<div id="why2">
				<h3 class="readmore"><a href="#rmCollaborative">Collaborative</a></h3>
				<p id="rmCollaborative" class="nomobile">
					Collaborate with friends or colleagues anywhere in the world –
					or at the next desk with Vizor’s multi-user editing. Use multiple devices to edit, and view your work in VR.
				</p>
			</div>
			<div id="why3">
				<h3 class="readmore"><a href="#rmFriendly">Friendly</a></h3>
				<div id="rmFriendly" class="nomobile">
					<img src="images/home/chat.png" width="254" height="281" alt="Vizor chat window" />
					<p>

						Vizor has a built in chat platform where other users are always ready
						to lend you a hand if you need help. Paste a link to your work into the chat
						and watch as others show you how to solve your problems.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>