<div class="center clearfix" style="width: 80%; margin: 0 auto;">

	<p>
		<a href="../">&lt; Vizor Docs</a>
	</p>

	<h2 class="decorative">{{folder}}</h2>

	{{#each items}}
		<h4>
			<a href="{{path}}">{{title}}</a>
		</h4>
	{{/each}}

</div>
