<h1>Plugins</h1>

{{#each plugins.categories}}
	<h3>{{name}}</h3>

	{{#each plugins}}
		<h4>{{name}}</h4>
	{{/each}}
{{/each}}

<h1>Presets</h1>

{{#each presets.categories}}
	<h3>{{name}}</h3>

	{{#each presets}}
		<h4>{{name}}</h4>
	{{/each}}
{{/each}}

