<div class="center clearfix" style="width: 80%; margin: 0 auto;">

	<p>
		<a href="../">&lt; Vizor Docs</a>
	</p>

	<h2 class="decorative">Nodes</h2>

	{{#each nodes.categories}}
		<h3>
			<a href="/docs/nodes/{{name}}">{{name}}</a>
		</h3>

		{{#each items}}
			<h4>
				<a href="/docs/nodes/{{name}}">{{title}}</a>
			</h4>
		{{/each}}
	{{/each}}

</div>
