<div class="file-select-control" style="min-height:400px">
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#download" role="tab" data-toggle="tab">Select file</a></li>
		<li><a href="#upload" role="tab" data-toggle="tab">Upload</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="download">
			<form class="form-inline">
				{{> filebrowser/tags}}
				<div class="file-selector"></div>
				<div class="buttons">
					<input id="file-url"
						class="form-control pull-left"
						size="45"
						type="text"
						value="{{original}}"
						placeholder=""/>
				</div>
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="upload">
			{{> filebrowser/upload}}
		</div>
	</div>
</div>
