<div class="header-background"> </div>

<div class="fixed-table-container-inner scrollbar">
	<table class="table table-hover table-condensed table-striped">
		<thead>
			<tr>
				<th class="name-header"><div class="th-inner">Name</div></th>
				<th class="date-header"><div class="th-inner">When</div></th>
			</tr>
		</thead>
		<tbody>
		{{#each files}}
			<tr class="file-row{{#if selected}} success{{/if}}" 
				data-url="{{url}}" data-navigate="true">
				<td class="name">{{name}}</td>
				<td class="">{{updatedAt}}</td>
			</tr>
		{{else}}
			<tr class="file-row">
				<td class="name" colspan="4">Nothing found</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>
