<form action="/graph" id="publishGraphForm" method="POST">
    <input type="hidden" name="_csrf" value={{_csrf}} />
    <input type="hidden" name="graph" value="{{graph}}" />
    <fieldset>
        <div class="form-input" id="f_name"><!-- #728, changed from f_path originally -->
            <label for="pathInput">Graph name</label>
            <input type="text" name="path" id="pathInput" placeholder="Friendly name" class="required" tabindex="1">
            <span class="message"></span>
        </div>

        <div class="modal-error" id="unknown_error"><span></span></div>
    </fieldset>

    <button id="publish-graph-btn" class="sign-btn" type="submit">
        <span>Publish</span>
        <svg class="icon-sign-in"><use xlink:href="#icon-go"></use></svg>
    </button>
</form>
