<div class="file-select-control">
	<div class="files-frame" id="saveas">
		<form class="form-inline">
			<div class="file-selector"></div>

			<table>
				<tr id="buttons-row">
					<td style="width: 100%">
							<input id="file-url"
								class="form-control"
								type="text"
								style="width: 100%"
								value="{{original}}"
								placeholder="Name"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
