<div class="file-select-control">
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#saveas" role="tab" data-toggle="tab"><h4>Save as</h4></a></li>
	</ul>

	<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="saveas">
		<form class="form-inline">
			<div class="file-selector"></div>

			<table>
				<tr id="buttons-row">
					<td style="width: 100%">
							<input id="file-url"
								class="form-control"
								type="text"
								style="width: 100%"
								value="{{original}}"
								placeholder=""/>
					</td>
				</tr>
			</table>
		</form>
	</div>
	</div>
</div>
