{{#if user}}
<form enctype="multipart/form-data"
	method="post"
	action="/upload{{url}}"
	class="form-inline fileUploadForm">
	<input type="file" id="fileUploadFile" name="file"/>
	<input type="submit" value="Upload"/>
</form>
{{else}}
	<h4>Please login before uploading.</h4>
{{/if}}
<div id="message"></div>