<div class="p_header p_inline">
    <div class="p_wrap">
        <span class="t p_title">{{{node_title}}}</span>
        <svg class="p_icon p_stroke p_nofill"><use xlink:href="#vp-plugin-icon-variable-read"></use></svg>
        <div class="ic p_outs">{{{plugin_inline_output}}}</div>
    </div>
</div>