<div class="p_header p_inline">
    <div class="p_wrap">
        <div class="ic p_ins">{{{plugin_inline_input}}}</div>
        <svg class="p_icon p_stroke p_nofill"><use xlink:href="#vp-plugin-icon-variable-write"></use></svg>
        <span class="t p_title">{{{node_title}}}</span>
    </div>
</div>