<div class="assets-block vp-library floating-box" id="assets-lib" style="display:none">
		<div class="block-header">
			<button class="toggle-button" id="assets-toggle" type="button">
				<svg class="icon-arrow-vertical"><use xlink:href="#icon-arrow-vertical"></use></svg>
			</button>
			<h4>Asset Library</h4>
			<button class="close-button" id="assets-close" type="button">
				<svg class="icon-assets-close"><use xlink:href="#icon-close"></use></svg>
			</button>
		</div>
		<div id="assets">
			<div class="searchbox">
				<svg class="icon-search"><use xlink:href="#icon-search"/></svg>
				<input type="text" onblur="this.placeholder = 'Search'" onfocus="this.placeholder = ''" placeholder="Search" class="form-control" id="assetSearch">
			</div>
			<ul class="lib-tabs" role="tablist" id="assets-tabs">
				<li class="active">
					<a data-toggle="tab" role="tab" href="#sceneTab" id="objectsTabBtn">Objects</a>
				</li>
				<li>
					<a data-toggle="tab" role="tab" href="#imageTab" id="imagesTabBtn">Images</a>
				</li>
				<li>
					<a data-toggle="tab" role="tab" href="#audioTab" id="audioTabBtn">Audio</a>
				</li>
				<li>
					<a data-toggle="tab" role="tab" href="#videoTab" id="videoTabBtn">Video</a>
				</li>
			</ul>
			<div class="tab-content active" id="sceneTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li class="active">
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content" id="imageTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Images Group</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Image object</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content" id="audioTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Audio Group</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Audio object</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content" id="videoTab">
				<div class="assets-frame scrollbar">
					<div class="assets-group">
						<span class="group-title">Video Group</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Video object</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
					<div class="assets-group">
						<span class="group-title">Primitives</span>
						<ul class="assets-list">
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
							<li>
								<svg class="icon-asset"><use xlink:href="#icon-asset-default"></use></svg>
								<span>Sphere</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="load-buttons">
				<button id="#uploadAsset">
					<svg class="icon-load"><use xlink:href="#icon-upload"></use></svg>
					<span>Upload</span>
				</button>
				<button id="#uploadAsset">
					<svg class="icon-load"><use xlink:href="#icon-download"></use></svg>
					<span>Download</span>
				</button>
			</div>
			<div id="asset-info">
				<div>
					<div class="asset-image">
						<img src="images/logo-graphic.png" />
					</div>
					<div class="asset-details">
						<span id="asset-type">JSON file</span><br />
						<span id="asset-demensions">6 polygons</span><br />
						<span id="asset-size">26 KB</span>
					</div>
				</div>
			</div>
		</div>
</div>