{{#*inline 'section'}}
    <section id="{{id}}"
        {{#if collapsed}} class="collapsible collapsed" {{else}} class="collapsible" {{/if}}>
    <h3><a href="#{{id}}" class="toggle">{{name}}</a></h3>
      <div>
        {{> (lookup . 'view') }}
      </div>
  </section>
{{/inline}}

 <div id="contentcontainer" class="in">
  {{!-- context is profile --}}

    {{>section id='editName' name="Name" view='srv/account/editName' collapsed=false }}
    {{>section id='editPassword' name="Password" view='srv/account/editPassword' collapsed=true }}
    {{>section id='editEmail' name="Email address" view='srv/account/editEmail' collapsed=true }}
    {{>section id='editBio' name="Bio" view='srv/account/editBio' collapsed=true }}
    {{>section id='editWebsite' name="Website" view='srv/account/editWebsite' collapsed=true }}
    {{>section id='editImages' name="Avatar & Header" view='srv/account/editPics' collapsed=true }}

      <section id="editDefaults">
         <h3>Publish Defaults</h3>
        {{> srv/account/editDefaults }}
     </section>

      <section>
          <h3>Sign out</h3>
          <a class='btn action logout svg' data-svgref="icon-go" data-action='logout' href='/logout'>Click here to sign out</a>
      </section>


    {{>section id='profileDelete' name="Delete account" view='srv/account/deleteAccount' collapsed=true }}

</div>