<div id="contentcontainer" class="in">
	<section class="center">
		<h2 class='decorative'><span>Forgot your password?</span></h2>
        <p>
            You can set a new password here. <br />
            Passwords must be at least 6 characters long.
        </p>
		{{> srv/account/changepassword }}
	</section>
</div>