<div id="madeByVizorWidget" class="nomobile clearfix">
    <a href="//vizor.io"><svg style="width: 24px; height:24px;"><use xlink:href="#logo-mini" /></svg></a>
    <a title="VR in your browser" href="//vizor.io">Made with &#x1F379; by
        <svg style="width: 40px; height:24px;"><use xlink:href="#vizor-top-logo" /></svg></a>
</div>