.icon-img
{
	display: block;
	float: left;
	position: relative !important;
	top: 2px !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-right: 2px !important;
	background-clip: content-box !important;
	width: 16px;
	height: 16px;
}
.icon-absolute_modulator { background: url('absolute-modulator.png'); }
.icon-add_modulator { background: url('add-modulator.png'); }
.icon-alpha_modulator { background: url('alpha-modulator.png'); }
.icon-aspect_ratio_generator { background: url('aspect-ratio-generator.png'); }
.icon-assets_started_generator { background: url('assets-started-generator.png'); }
.icon-assets_completed_generator { background: url('assets-completed-generator.png'); }
.icon-assets_failed_generator { background: url('assets-failed-generator.png'); }
.icon-audio_get_current_time_modulator { background: url('clock-generator.png'); }
.icon-audio_get_duration_modulator { background: url('audio-get-duration-modulator.png'); }
.icon-and_modulator { background: url('and-modulator.png'); }
.icon-annotation { background: url('annotation.png'); }
.icon-audio_player { background: url('audio-player.png'); }
.icon-blend_mode_generator { background: url('color-blend-modulator.png'); }
.icon-bool_display { background: url('bool-display.png'); }
.icon-ceiling_modulator { background: url('ceiling-modulator.png'); }
.icon-clamp_modulator { background: url('clamp-modulator.png'); }
.icon-clock_generator { background: url('clock-generator.png'); }
.icon-color_add_modulator { background: url('color-add-modulator.png'); }
.icon-color_blend_modulator { background: url('color-blend-modulator.png'); }
.icon-color_display { background: url('color-display.png'); }
.icon-color_multiply_modulator { background: url('color-multiply-modulator.png'); }
.icon-color_picker { background: url('color-picker.png'); }
.icon-concatenate_matrix_modulator { background: url('concatenate-matrix-modulator.png'); }
.icon-const_float_generator { background: url('const-float-generator.png'); }
.icon-const_text_generator { background: url('text-display.png'); }
.icon-convert_bool_float_modulator { background: url('convert-generic.png'); }
.icon-convert_camera_matrices { background: url('convert-generic.png'); }
.icon-convert_color_rgba_modulator { background: url('convert-generic.png'); }
.icon-convert_hsla_color_modulator { background: url('convert-generic.png'); }
.icon-convert_color_hsla_modulator { background: url('convert-generic.png'); }
.icon-convert_matrices_camera { background: url('convert-generic.png'); }
.icon-convert_oscilator_unit_modulator { background: url('convert-generic.png'); }
.icon-convert_rgba_color_modulator { background: url('convert-generic.png'); }
.icon-convert_vector_xyz_modulator { background: url('convert-generic.png'); }
.icon-cosine_modulator { background: url('cosine-modulator.png'); }
.icon-cos_modulator { background: url('cosine-modulator.png'); }
.icon-cube_mesh_generator { background: url('cube-mesh-generator.png'); }
.icon-data_info_display { background: url('none.png'); }
.icon-delegate_expression_generator { background: url('delegate-expression-generator.png'); }
.icon-delegate_get_length_modulator { background: url('delegate-get-length-modulator.png'); }
.icon-delegate_json_array_generator { background: url('delegate-json-array-generator.png'); }
.icon-delegate_loop_generator { background: url('rotation-xyz-matrix.png'); }
.icon-delegate_sample_modulator { background: url('delegate-sample-modulator.png'); }
.icon-delegate_sequence_generator { background: url('delegate-sequence-generator.png'); }
.icon-delta_modulator { background: url('delta-modulator.png'); }
.icon-delta_t_generator { background: url('delta-t-generator.png'); } 	
.icon-depth_func_generator { background: url('material-z-buffer-modulator.png'); } 	
.icon-divide_modulator { background: url('divide-modulator.png'); }
.icon-equals_modulator { background: url('equals-modulator.png'); }
.icon-exp_modulator { background: url('exp-modulator.png'); }
.icon-flat_shader { background: url('shader.png'); }
.icon-float_display { background: url('float-display.png'); }
.icon-floor_modulator { background: url('floor-modulator.png'); }
.icon-format_string_float { background: url('float-display.png'); }
.icon-from_mesh_shader { background: url('shader.png'); }
.icon-from_mesh_custom_shader { background: url('shader.png'); }
.icon-graph { background: url('graph.png'); }
.icon-grid_mesh_generator { background: url('grid-mesh-generator.png'); }
.icon-if_modulator { background: url('if-modulator.png'); }
.icon-if_else_modulator { background: url('if-else-modulator.png'); }
.icon-initialise_generator { background: url('initialise-generator.png'); }
.icon-input_proxy { background: url('input-proxy.png'); }
.icon-instance_array_modulator { background: url('instance-array-modulator.png'); }
.icon-instance_clear_transform_modulator { background: url('instance-clear-transform-modulator.png'); }
.icon-instance_cube_modulator { background: url('instance-cube-modulator.png'); }
.icon-instance_ifs_modulator { background: url('instance-ifs-modulator.png'); }
.icon-instance_rotate_modulator { background: url('rotation-matrix.png'); }
.icon-instance_scale_modulator { background: url('scale-matrix.png'); }
.icon-instance_translate_modulator { background: url('translation-matrix.png'); }
.icon-instance_texture_modulator { background: url('instance-texture-modulator.png'); }
.icon-invert_matrix_modulator { background: url('invert-matrix-modulator.png'); }
.icon-key_press_generator { background: url('key-press-generator.png'); }
.icon-knob_float_generator { background: url('knob-float-generator.png'); }
.icon-led_display { background: url('led-display.png'); }
.icon-less_than_modulator { background: url('less-than-modulator.png'); }
.icon-light_clone_modulator { background: url('clone-modulator.png'); }
.icon-light_diffuse_color_modulator { background: url('light-diffuse-color-modulator.png'); }
.icon-light_direction_modulator { background: url('light-direction-modulator.png'); }
.icon-light_intensity_modulator { background: url('light-intensity-modulator.png'); }
.icon-light_position_modulator { background: url('light-position-modulator.png'); }
.icon-light_specular_color_modulator { background: url('light-specular-color-modulator.png'); }
.icon-light_type_generator { background: url('light-type-generator.png'); }
.icon-light_type_modulator { background: url('light-type-generator.png'); }
.icon-log_modulator { background: url('log-modulator.png'); }
.icon-loop { background: url('rotation-xyz-matrix.png'); }
.icon-lowpass_filter_modulator { background: url('lowpass-filter-modulator.png'); }
.icon-material_alpha_clip_modulator { background: url('material-alpha-clip-modulator.png'); }
.icon-material_ambient_color_modulator { background: url('material-ambient-color-modulator.png'); }
.icon-material_blend_mode_modulator { background: url('color-blend-modulator.png'); }
.icon-material_clone_modulator { background: url('clone-modulator.png'); }
.icon-material_diffuse_color_modulator { background: url('material-diffuse-color-modulator.png'); }
.icon-material_double_sided_modulator { background: url('material-double-sided-modulator.png'); }
.icon-material_light_modulator { background: url('material-light-modulator.png'); }
.icon-material_shinyness_modulator { background: url('material-shinyness-modulator.png'); }
.icon-material_texture_modulator { background: url('texture-type-generator.png'); }
.icon-material_z_buffer_modulator { background: url('material-z-buffer-modulator.png'); }
.icon-matrix_display { background: url('matrix-display.png'); }
.icon-max_modulator { background: url('max-modulator.png'); }
.icon-mesh_primtype_generator { background: url('mesh-primtype-generator.png'); }
.icon-mesh_primtype_modulator { background: url('mesh-primtype-generator.png'); }
.icon-mesh_renderer_emitter { background: url('mesh-renderer-emitter.png'); }
.icon-min_modulator { background: url('min-modulator.png'); }
.icon-modulate_modulator { background: url('modulate-modulator.png'); }
.icon-more_than_modulator { background: url('more-than-modulator.png'); }
.icon-mouse_button_generator { background: url('mouse-button-generator.png'); }
.icon-mouse_position_generator { background: url('mouse-position-generator.png'); }
.icon-mouse_wheel_generator { background: url('mouse-wheel-generator.png'); }
.icon-multiply_modulator { background: url('multiply-modulator.png'); }
.icon-nand_modulator { background: url('nand-modulator.png'); }
.icon-negate_modulator { background: url('negate-modulator.png'); }
.icon-normal_as_color_shader { background: url('shader.png'); }
.icon-not_modulator { background: url('not-modulator.png'); }
.icon-null_mesh_generator { background: url('null-mesh-generator.png'); }
.icon-or_modulator { background: url('or-modulator.png'); }
.icon-orthographic_camera { background: url('orthographic-camera.png'); }
.icon-output_proxy { background: url('output-proxy.png'); }
.icon-particle_mesh_generator { background: url('particle-mesh-generator.png'); }
.icon-perspective_camera { background: url('perspective-camera.png'); }
.icon-pi_generator { background: url('pi-generator.png'); }
.icon-planar_projection_matrix { background: url('planar-projection-matrix.png'); }
.icon-plot_display { background: url('plot-display.png'); }
.icon-quad_mesh_generator { background: url('quad-mesh-generator.png'); }
.icon-random_float_generator { background: url('random-float-generator.png'); }
.icon-record_framebuffer { background: url('record-framebuffer.png'); }
.icon-register_global_read { background: url('input-proxy.png'); }
.icon-register_global_write { background: url('output-proxy.png'); }
.icon-register_local_read { background: url('input-proxy.png'); }
.icon-register_local_write { background: url('output-proxy.png'); }
.icon-reset_framebuffer_recorder { background: url('record-framebuffer.png'); }
.icon-rotation_matrix { background: url('rotation-matrix.png'); }
.icon-rotation_xyz_matrix { background: url('rotation-xyz-matrix.png'); }
.icon-round_modulator { background: url('round-modulator.png'); }
.icon-sample_and_hold_modulator { background: url('sample-and-hold-modulator.png'); }
.icon-sawtooth_modulator { background: url('sawtooth-modulator.png'); }
.icon-scale_matrix { background: url('scale-matrix.png'); }
.icon-scene_get_bounding_box { background: url('scene-get-bounding-box.png'); }
.icon-scene_get_mesh_by_index { background: url('scene-get-mesh-by-index.png'); }
.icon-scene_get_mesh_count { background: url('scene-get-mesh-count.png'); }
.icon-scene_renderer_emitter { background: url('scene-renderer-emitter.png'); }
.icon-screenspace_camera { background: url('screenspace-camera.png'); }
.icon-sine_modulator { background: url('sine-modulator.png'); }
.icon-sin_modulator { background: url('sine-modulator.png'); }
.icon-slider_float_generator { background: url('slider-float-generator.png'); }
.icon-sphere_mesh_generator { background: url('sphere-mesh-generator.png'); }
.icon-sqrt_modulator { background: url('sqrt-modulator.png'); }
.icon-square_modulator { background: url('square-modulator.png'); }
.icon-stop_emitter { background: url('stop-emitter.png'); }
.icon-string_concatenate_modulator { background: url('string-concatenate-modulator.png'); }
.icon-subtract_modulator { background: url('subtract-modulator.png'); }
.icon-switch_modulator { background: url('switch-modulator.png'); }
.icon-tan_modulator { background: url('tan-modulator.png'); }
.icon-text_display { background: url('text-display.png'); }
.icon-texture_diffuse_shader { background: url('shader.png'); }
.icon-texture_from_text_generator { background: url('text-display.png'); }
.icon-texture_type_generator { background: url('texture-type-generator.png'); }
.icon-toggle_button { background: url('toggle-button.png'); }
.icon-translation_matrix { background: url('translation-matrix.png'); }
.icon-transpose_matrix_modulator { background: url('transpose-matrix-modulator.png'); }
.icon-triangle_modulator { background: url('triangle-modulator.png'); }
.icon-tween_in_modulator { background: url('tween-in-modulator.png'); }
.icon-tween_out_modulator { background: url('tween-out-modulator.png'); }
.icon-url_audio_generator { background: url('url-audio-generator.png'); }
.icon-url_scene_generator { background: url('url-scene-generator.png'); }
.icon-url_texture_generator { background: url('url-texture-generator.png'); }
.icon-url_video_generator { background: url('record-framebuffer.png'); }
.icon-vector_add { background: url('vector-add.png'); }
.icon-vector_cross { background: url('vector-cross.png'); }
.icon-vector_dot { background: url('vector-dot.png'); }
.icon-vector_display { background: url('vector-display.png'); }
.icon-vector_magnitude { background: url('vector-magnitude.png'); }
.icon-vector_multiply { background: url('vector-multiply.png'); }
.icon-vector_normalize { background: url('vector-normalize.png'); }
.icon-vector { background: url('convert-generic.png'); }
.icon-vector_scale { background: url('vector-scale.png'); }
.icon-vector_to_screenspace { background: url('vector-to-screenspace.png'); }
.icon-vector_transform { background: url('vector-transform.png'); }
.icon-video_get_current_time_modulator { background: url('clock-generator.png'); }
.icon-video_get_duration_modulator { background: url('audio-get-duration-modulator.png'); }
.icon-video_player { background: url('record-framebuffer.png'); }
.icon-xor_modulator { background: url('xor-modulator.png'); }


/* Groups */
.icon-group { background: url('group.png'); }
