.icon-img
{
	display: block;
	float: left;
	position: relative !important;
	top: 2px !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-right: 2px !important;
	background-clip: content-box !important;
	width: 16px;
	height: 16px;
}

.icon-absolute_modulator { background: url('accumulate_modulator.png'); }
.icon-accumulate_modulator { background: url('accumulate_modulator.png'); }
.icon-add_modulator { background: url('add_modulator.png'); }
.icon-alpha_modulator { background: url('alpha_modulator.png'); }
.icon-aspect_ratio_generator { background: url('aspect_ratio_generator.png'); }
.icon-and_modulator { background: url('none.png'); }
.icon-annotation { background: url('none.png'); }
.icon-audio_player { background: url('none.png'); }
.icon-blend_mode_generator { background: url('none.png'); }
.icon-bool_display { background: url('none.png'); }
.icon-clamp_modulator { background: url('none.png'); }
.icon-clock_generator { background: url('none.png'); }
.icon-color_add_modulator { background: url('none.png'); }
.icon-color_blend_modulator { background: url('none.png'); }
.icon-color_display { background: url('none.png'); }
.icon-colored_quad_emitter { background: url('none.png'); }
.icon-color_multiply_modulator { background: url('none.png'); }
.icon-color_picker { background: url('none.png'); }
.icon-concatenate_matrix_modulator { background: url('none.png'); }
.icon-const_float_generator { background: url('none.png'); }
.icon-convert_bool_float_modulator { background: url('none.png'); }
.icon-convert_camera_matrices { background: url('none.png'); }
.icon-convert_canvas_texture_modulator { background: url('none.png'); }
.icon-convert_color_rgba_modulator { background: url('none.png'); }
.icon-convert_hsla_color_modulator { background: url('none.png'); }
.icon-convert_matrices_camera { background: url('none.png'); }
.icon-convert_oscilator_unit_modulator { background: url('none.png'); }
.icon-convert_rgba_color_modulator { background: url('none.png'); }
.icon-convert_vector_xyz_modulator { background: url('none.png'); }
.icon-cosine_modulator { background: url('none.png'); }
.icon-cube_mesh_generator { background: url('none.png'); }
.icon-delta_t_generator { background: url('none.png'); }
.icon-divide_modulator { background: url('none.png'); }
.icon-equals_modulator { background: url('none.png'); }
.icon-flat_shader { background: url('none.png'); }
.icon-float_display { background: url('none.png'); }
.icon-floor_modulator { background: url('none.png'); }
.icon-from_mesh_shader { background: url('none.png'); }
.icon-graph { background: url('none.png'); }
.icon-if_modulator { background: url('none.png'); }
.icon-if_else_modulator { background: url('none.png'); }
.icon-image_buffer_generator { background: url('none.png'); }
.icon-input_proxy { background: url('input_proxy.png'); }
.icon-invert_matrix_modulator { background: url('none.png'); }
.icon-led_display { background: url('none.png'); }
.icon-less_than_modulator { background: url('none.png'); }
.icon-lowpass_filter_modulator { background: url('none.png'); }
.icon-matrix_display { background: url('none.png'); }
.icon-max_modulator { background: url('none.png'); }
.icon-mesh_renderer_emitter { background: url('none.png'); }
.icon-min_modulator { background: url('none.png'); }
.icon-modulate_modulator { background: url('none.png'); }
.icon-more_than_modulator { background: url('none.png'); }
.icon-mouse_button_generator { background: url('none.png'); }
.icon-mouse_position_generator { background: url('none.png'); }
.icon-multiply_modulator { background: url('none.png'); }
.icon-normal_as_color_shader { background: url('none.png'); }
.icon-not_modulator { background: url('none.png'); }
.icon-or_modulator { background: url('none.png'); }
.icon-output_proxy { background: url('output_proxy.png'); }
.icon-perspective_camera { background: url('perspective_camera.png'); }
.icon-quad_mesh_generator { background: url('none.png'); }
.icon-random_float_generator { background: url('none.png'); }
.icon-rotation_matrix { background: url('none.png'); }
.icon-rotation_xyz_matrix { background: url('none.png'); }
.icon-round_modulator { background: url('none.png'); }
.icon-sawtooth_modulator { background: url('none.png'); }
.icon-scale_matrix { background: url('none.png'); }
.icon-scene_get_bounding_box { background: url('none.png'); }
.icon-scene_get_mesh_by_index { background: url('none.png'); }
.icon-scene_get_mesh_count { background: url('none.png'); }
.icon-scene_renderer_emitter { background: url('none.png'); }
.icon-screenspace_camera { background: url('screenspace_camera.png'); }
.icon-sine_modulator { background: url('none.png'); }
.icon-slider_float_generator { background: url('none.png'); }
.icon-sphere_mesh_generator { background: url('none.png'); }
.icon-square_modulator { background: url('none.png'); }
.icon-subtract_modulator { background: url('none.png'); }
.icon-texture_diffuse_shader { background: url('none.png'); }
.icon-textured_quad_emitter { background: url('none.png'); }
.icon-toggle_button { background: url('none.png'); }
.icon-translation_matrix { background: url('none.png'); }
.icon-triangle_modulator { background: url('none.png'); }
.icon-url_audio_generator { background: url('none.png'); }
.icon-url_scene_generator { background: url('none.png'); }
.icon-url_texture_generator { background: url('none.png'); }
.icon-vector_display { background: url('none.png'); }
.icon-vector_normalize { background: url('none.png'); }
.icon-vector { background: url('none.png'); }
.icon-vector_scale { background: url('none.png'); }
.icon-vector_transform { background: url('none.png'); }


/* Groups */
.icon-group { background: url('group.png'); }
