<div id="contentcontainer" class="in">
<h2 class="decorative"><span>All graphs</span></h2>

<section class="list assets clearfix noselect">
	{{#each graphs}}
		{{> assets/graphCard profile=../profile}}
	{{/each}}
</section>
</div>

