<div class="flex-column">
<div class="menu-bar"> <!-- menu bar -->
	<div class="header left-cell pull-left" id="top-header-logo">
		<div class="info-pane pull-left" id="info">
			<span>
				<img id="infopanelogo" src="../../images/logo-graphic.png">
			</span>
			<span class="logo-text">Vizor</span>
		</div>
		<div id="load-spinner"></div>
	</div>

	<div class="header">
		<div id="top-header">
			<div class="top-header-col" id="top-header-left">
			<h5>
				<i><strong>{{graph.name}}</strong></i>
				by
				<i><strong>{{graph.owner}}</strong></i>
			</h5>
			</div>

			<div class="top-header-col" id="top-header-right">
				<div class="header pull-right">
					<button id="edit" class="btn btn-primary">
						<i class="fa fa-code"> Edit</i>
					</button>

					<button id="fullscreen" class="btn btn-primary">
						<i class="fa fa-expand"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div> <!-- menu bar -->

<div class="flex-row"> <!-- main row -->
<div class="stage--front">
	<canvas
		id="webgl-canvas"
		class="webgl-canvas-normal"
		width="1400px"
		height="700px"
		oncontextmenu="return false;"
		data-autoplay="true"
		data-graph-url="{{graphMinUrl}}">
	>
	</canvas>

	<div class="progress" style="display:none">
		<div class="progress-bar" style="width: 00%;"></div>
	</div>
</div>
</div> <!-- main row -->
</div> <!-- page column -->	

<script>
	var $canvas = $('#webgl-canvas')
	var $window = $(window)
	var $stage = $('.stage--front')
	var footerHeight = 76

	window.Vizor = {
		hideWebVRButton: true
	}

	function onResize() {
		setTimeout(function() {
			var width = $window.width()
			var height = $window.height()
			var devicePixelRatio = window.devicePixelRatio || 1;
			var pixelRatioAdjustedWidth = devicePixelRatio * width;
			var pixelRatioAdjustedHeight = devicePixelRatio * height;

			$canvas[0].width = pixelRatioAdjustedWidth
			$canvas[0].height = pixelRatioAdjustedHeight
			$stage.css('width', width + 'px')
			$stage.css('height', height + 'px')
		
			var isFullscreen = !!(document.mozFullScreenElement || document.webkitFullscreenElement)
			
			if (isFullscreen) {
				$canvas.removeClass('webgl-canvas-normal')
				$canvas.addClass('webgl-canvas-fs')
			} else {
				$canvas.removeClass('webgl-canvas-fs')
				$canvas.addClass('webgl-canvas-normal')
			}

			E2.core.emit('resize')
		}, 20)
	}

	$('#edit').click(function() {
		window.location = window.location + '/edit'
	})

	$('#fullscreen').click(function() {
		E2.core.emit('fullScreenChangeRequested')
	})

	$(window).on('resize', onResize)
	$(window).on('vizorLoaded', function() {
		$('#load-spinner').hide()

		E2.app.calculateCanvasArea = function() {
			return {
				width: window.innerWidth,
				height: window.innerHeight
			}
		}

		onResize()
	})
</script>
