{{> srv/siteSvgSprite }}
<div id="playerWrap">
<header id="topbar" class="clearfix" style="height:58px;">
	<h1 id="logo_h">
		<span id="load_spinner"></span>
		<a href="/"><svg alt="Vizor logo" style="width:64px; height:24px; fill:#eee;"><use xlink:href="#vizor-top-logo"></use></svg></a>
	</h1>
	<div class="controls">
		<button id="fullscreen" data-tooltip="Enter full screen" class="svg">
			<svg alt="Enter full screen"><use xlink:href="#icon-fullscreen"></use></svg>
		</button>
		<button id="edit" data-tooltip="Edit graph" class="svg">
			<svg alt="Edit graph"><use xlink:href="#player-pencil"></use></svg>
		</button>
	</div>
	<h2 id="graph_heading">
		<span class="title">{{graph.name}}</span>
		by
		<span class="author">{{graph.owner}}</span>
	</h2>
	<div class="progress" style="display:none">
		<div class="progress-bar" style="width: 00%;"></div>
	</div>
</header>
<div id="stage" class="stage--front" style="min-height: 100px; background: #666;">
	<canvas
		style="display: none;"
		id="webgl-canvas"
		class="webgl-canvas-normal"
		width="100%"
		height="100%"
		oncontextmenu="return false;"
		data-autoplay="true"
		data-graph-url="{{graphMinUrl}}">
	>
	</canvas>
</div>
</div>
<script>
    var have_webgl = (function(){   // http://www.browserleaks.com/webgl#howto-detect-webgl
        if (!window.WebGLRenderingContext) return false;    /* WebGL not supported*/
        var canvas = document.createElement("canvas"), names = ["webgl", "experimental-webgl", "moz-webgl"], gl = false;
        for(var i in names) {
            try {
                gl = canvas.getContext(names[i]);
                if (gl && typeof gl.getParameter == "function") { /* WebGL is enabled */
                    return names[i];    /* or return true; */
                }
            } catch(e) {}
        }
        return false;  /* WebGL is supported, but disabled */
    })();
    function initPlayer() {
        var $canvas = $('#webgl-canvas')
        $canvas.css({display: 'block'});
        var $stage = $('#stage')

        window.Vizor = {
            hideWebVRButton: true
        }

		var onResize = VizorUI.makeVRCanvasResizeHandler($canvas, $stage)

        $('#edit').click(function() {
            window.location = window.location + '/edit'
        })

        $('#fullscreen').click(function() {
            E2.core.emit('fullScreenChangeRequested')
        })

        $(window).on('resize', onResize);
        $(window).on('vizorLoaded', function() {
            $('#load-spinner').hide()
			var $playerContainer = jQuery('#stage');
			var onResize = VizorUI.makeVRCanvasResizeHandler(jQuery('#webgl-canvas'), $playerContainer);
            E2.app.isVRCameraActive = function(){return false};	// disable panning on homepage player, see #790
			E2.app.calculateCanvasArea = function() {
                return{
                    width: $playerContainer.innerWidth(),
                    height: $playerContainer.innerHeight()
                }
            }
			onResize();
        })
    }

	function init_() {
		document.getElementById('topbar').addEventListener('mousedown',
        function(e){
            e.stopPropagation();
            e.preventDefault();
            return false;
        }, true);   // capture
        jQuery('button').each(function(){
            var $this = jQuery(this);
            var contentText = $this.data('tooltip');
            $this.popover({
                trigger: 'hover',
                title: contentText,
                placement: 'bottom',
                delay: {show:500, hide:100}
            });
        });
		initPlayer();
	}

    jQuery(document).ready(have_webgl ? init_ : function(){
        document.getElementById('nowebgl').style.display = 'block';
    });
</script>