<noscript>
	<div class="centered notification">
		<div style="float: left; display: table-cell; margin-right: 8px;"><img src="images/warning.png" width="64px" height="64px" /></div>
		<div>This page requires javascript in order to display properly. If you're running a script blocker - such as NoScript - please whitelist this page. If you have disabled javascript in your browser, please enable it and reload (F5).</div>
	</div>
</noscript>

<div class="container">
	<div class="row">
		<div class="col-xs-12 logo">
			<img src="/images/logo--horizontal.png" width="100">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 no-padding player">
				<canvas id="webgl-canvas"
					width="860"
					height="477"
					class="webgl-canvas-normal"
					oncontextmenu="return false;"
					data-graph-url="{{graphMinUrl}}">
				</canvas>

				<div id="player" class="player-bar status-pause">
					<button id="play" class="btn btn-default button--play">
						<i class="fa fa-play"></i>
					</button>
					<button id="fs" class="btn btn-default pull-right hidden-xs">
						<i class="fa fa-arrows-alt"></i>
					</button>
				</div>

				<div class="progress" style="display:none">
					<div class="progress-bar progress-bar-info progress-bar-striped active"
					role="progressbar"
					aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
					style="width: 00%;">
				</div>
		</div>
    </div>

	<div class="row">
		<div class="col-xs-10">
			<h1>{{graph.name}}</h1>
			by {{graph.owner}}
		</div>

		<div class="col-xs-2 pull-right buttons play">
	    	<a href="{{editUrl}}" class="btn btn-success player-cta pull-right">
	    		Open in editor
	    	</a>

	    	<br/>
	    	<br/>

	    	<a href="//vizor.io/submit" class="btn btn-default submit-link player-cta pull-right">
				Submit to Vizor
	    	</a>
	  </div>
	</div>


	<div class="row">
		<div class="col-xs-12">
			<br/>
			<p class="small">
			</p>
	  </div>
	</div>
</div>

<script type="text/javascript" src="/scripts/player.min.js"></script>

<script>
	$(document).ready(function() {
		var playing = false;

		E2.app.player.core.on('ready', function() {
			var $i = $('#play i');

			$('#play').on('click', function() {
				playing = !playing;

				if (playing)
				{
					$i.removeClass('fa-play').addClass('fa-pause');
					play();
				}
				else
				{
					$i.removeClass('fa-pause').addClass('fa-play');
					E2.app.player.pause();
				}
			});
		})
	})
</script>