<table class="result table table-hover table-condensed table-striped">
	{{#each this}}
	<tr>
		<td data-path="{{path}}" class="result-item">
		<!-- {{score}}: -->
			<span class="title">{{title}}</span>
			<span class="category">{{category}}</span>
		</td>
	</tr>
	{{/each}}
</table>
