<table class="result table table-hover table-condensed table-striped">
	{{#each this}}
	<tr>
		<td data-path="{{path}}" class="result-item">
		<!-- {{score}}: -->
			{{title}}
		</td>
	</tr>
	{{/each}}
</table>
